flows.json
[
    {
        "id": "8dda81f9590d2155",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de8837020ce39d8d",
        "type": "ui_gauge",
        "z": "8dda81f9590d2155",
        "name": "",
        "group": "176a6dcb963246d5",
        "order": 1,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "PM2.5",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "504",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "79d3217229c8fd0e",
        "type": "ui_gauge",
        "z": "8dda81f9590d2155",
        "name": "",
        "group": "176a6dcb963246d5",
        "order": 2,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "PM10",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500.4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "183498a90d8989db",
        "type": "mqtt in",
        "z": "8dda81f9590d2155",
        "name": "humid",
        "topic": "/23127354-23127388-23127435/humid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 40,
        "wires": [
            [
                "e153e58c21cd6e2d"
            ]
        ]
    },
    {
        "id": "7f763e6fbee537b4",
        "type": "mqtt in",
        "z": "8dda81f9590d2155",
        "name": "temp",
        "topic": "/23127354-23127388-23127435/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 100,
        "wires": [
            [
                "e153e58c21cd6e2d"
            ]
        ]
    },
    {
        "id": "642e27d79af60328",
        "type": "mqtt in",
        "z": "8dda81f9590d2155",
        "name": "pm25",
        "topic": "/23127354-23127388-23127435/pm25",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 160,
        "wires": [
            [
                "e153e58c21cd6e2d"
            ]
        ]
    },
    {
        "id": "e153e58c21cd6e2d",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "Combine sensors",
        "func": "let type;\nlet value = parseFloat(msg.payload);\n\n// Xác định loại dữ liệu từ topic\nif (msg.topic.includes(\"humid\")) {\n    type = \"Humidity\";\n} else if (msg.topic.includes(\"temp\")) {\n    type = \"Temperature\";\n} else if (msg.topic.includes(\"pm25\")) {\n    type = \"PM2_5\";  // Sửa lại PM2.5\n} else if (msg.topic.includes(\"pm10\")) {\n    type = \"PM10\";\n} else {\n    type = \"Unknown\"; // Kiểm tra nếu topic không xác định\n}\n\n// Lưu giá trị vào flow context theo từng loại\nflow.set(type, value);\n\n// Lấy giá trị hiện có từ flow context\nlet humidity = flow.get(\"Humidity\");\nlet temp = flow.get(\"Temperature\");\nlet pm25 = flow.get(\"PM2_5\");\nlet pm10 = flow.get(\"PM10\");\n\n// Chỉ gửi dữ liệu khi đủ cả 4 giá trị\nif (humidity !== undefined && temp !== undefined && pm25 !== undefined && pm10 !== undefined) {\n    // Định dạng dữ liệu cho chart\n    let pmData = [\n        { x: new Date().toISOString(), y: pm25 },\n        { x: new Date().toISOString(), y: pm10 }\n    ];\n\n    let chartData = {\n        series: [\"PM2.5\", \"PM10\"],\n        data: [pmData[0], pmData[1]],\n        labels: [new Date().toISOString()]\n    };\n\n    // Dữ liệu cho các gauge\n    let gaugesData = {\n        PM2_5: pm25,\n        PM10: pm10,\n        Temperature: temp,\n        Humidity: humidity\n    };\n\n    // Trả lại dữ liệu dưới định dạng cho từng output\n    return [\n        { payload: pm25 },  // Output 1: PM2.5 (chỉ gửi giá trị)\n        { payload: pm10 },  // Output 2: PM10 (chỉ gửi giá trị)\n        { payload: temp },  // Output 3: Temperature (chỉ gửi giá trị)\n        { payload: humidity },  // Output 4: Humidity (chỉ gửi giá trị)\n        { payload: chartData },  // Output 5: Dữ liệu cho chart (PM2.5, PM10)\n        { payload: gaugesData }  // Output 6: Gauges data\n    ];\n} else {\n    return null;  // Trả về null nếu thiếu một trong các giá trị cần thiết\n}\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "de8837020ce39d8d",
                "3add253b3797bbb0",
                "d31537a49feaeecd"
            ],
            [
                "79d3217229c8fd0e",
                "2b14b2965865c05d",
                "f51de0e75ea173e4"
            ],
            [
                "406176db8334e4bc"
            ],
            [
                "c8ed9d69caac8110"
            ],
            [],
            [
                "fbd860164a693d11"
            ]
        ]
    },
    {
        "id": "e109d81e20d686fc",
        "type": "ui_chart",
        "z": "8dda81f9590d2155",
        "name": "",
        "group": "176a6dcb963246d5",
        "order": 5,
        "width": 17,
        "height": 8,
        "label": "PM chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#7f4606",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2d482c818d7721c4",
        "type": "mqtt out",
        "z": "8dda81f9590d2155",
        "name": "",
        "topic": "/23127354-23127388-23127435/led-buzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "f2f6554b27cc1929",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "Pull Data",
        "func": "// Function 1: Tạo API URL\nconst channelID = \"3030128\";\nconst readAPI = \"A2AAQJ1EF8O43YAP\";\nconst results = 20; // Số records muốn lấy (có thể thay đổi)\n\nmsg.url = `https://api.thingspeak.com/channels/${channelID}/feeds.json?api_key=${readAPI}&results=${results}`;\nmsg.method = \"GET\";\n\nreturn msg;\n\n// ===================================\n\n// Function 2: Format dữ liệu cho table\nconst feeds = msg.payload.feeds;\nlet tableData = [];\n\nfeeds.forEach(feed => {\n    const timestamp = new Date(feed.created_at);\n    // Format thời gian theo múi giờ Việt Nam\n    const timeString = timestamp.toLocaleTimeString('vi-VN', {\n        hour: '2-digit',\n        minute: '2-digit',\n        timeZone: 'Asia/Ho_Chi_Minh'\n    });\n    \n    // Kiểm tra và format từng field\n    const pm25 = feed.field1 ? parseFloat(feed.field1).toFixed(1) : \"-\";\n    const pm10 = feed.field2 ? parseFloat(feed.field2).toFixed(1) : \"-\";  \n    const humidity = feed.field3 ? parseFloat(feed.field3).toFixed(1) : \"-\";\n    const temperature = feed.field4 ? parseFloat(feed.field4).toFixed(1) : \"-\";\n    \n    tableData.push({\n        \"Time\": timeString,\n        \"PM2.5\": pm25,\n        \"PM10\": pm10,\n        \"Temperature\": temperature,\n        \"Humidity\": humidity\n    });\n});\n\n// Sắp xếp theo thời gian mới nhất trước (reverse)\ntableData.reverse();\n\nmsg.payload = tableData;\nreturn msg;\n\n// ===================================\n\n// Function 3: Auto refresh (cho inject node)\n// Trigger này để tự động lấy dữ liệu mỗi 5 phút\n// Chỉ cần set inject node với interval: 5 minutes\n// Hoặc dùng function này nếu muốn logic phức tạp hơn\n\nconst now = new Date();\nnode.warn(`Refreshing data at: ${now.toLocaleString('vi-VN')}`);\n\n// Gửi trigger để lấy dữ liệu mới\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 700,
        "wires": [
            [
                "f16f8988b2e8b081"
            ]
        ]
    },
    {
        "id": "446d09467bde2f6c",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "Avg & Status",
        "func": "// Tính trung bình và đánh giá status\nif (!msg.payload || msg.payload.length === 0) {\n    msg.averages = {};\n    return msg;\n}\n\nconst data = msg.payload;\nlet pm25Sum = 0, pm10Sum = 0, tempSum = 0, humidSum = 0;\nlet count = data.length;\n\ndata.forEach(item => {\n    pm25Sum += parseFloat(item.PM25) || 0;\n    pm10Sum += parseFloat(item.PM10) || 0;\n    tempSum += parseFloat(item.Temperature) || 0;\n    humidSum += parseFloat(item.Humidity) || 0;\n});\n\nconst avgPM25 = (pm25Sum / count).toFixed(1);\nconst avgPM10 = (pm10Sum / count).toFixed(1);\nconst avgTemp = (tempSum / count).toFixed(1);\nconst avgHumid = (humidSum / count).toFixed(0);\n\n// Đánh giá status theo tiêu chuẩn WHO/EPA\nfunction getPM25Status(value) {\n    if (value <= 12) return \"Good\";\n    if (value <= 35.4) return \"Moderate\";\n    if (value <= 55.4) return \"Unhealthy for Sensitive\";\n    if (value <= 150.4) return \"Unhealthy\";\n    if (value <= 250.4) return \"Very Unhealthy\";\n    return \"Hazardous\";\n}\n\nfunction getPM10Status(value) {\n    if (value <= 54) return \"Good\";\n    if (value <= 154) return \"Moderate\";\n    if (value <= 254) return \"Unhealthy for Sensitive\";\n    if (value <= 354) return \"Unhealthy\";\n    if (value <= 424) return \"Very Unhealthy\";\n    return \"Hazardous\";\n}\n\nfunction getTempStatus(value) {\n    if (value >= 18 && value <= 27) return \"Comfortable\";\n    if ((value >= 15 && value < 18) || (value > 27 && value <= 32)) return \"Moderate\";\n    if ((value >= 10 && value < 15) || (value > 32 && value <= 38)) return \"Uncomfortable\";\n    return \"Extreme\";\n}\n\nfunction getHumidityStatus(value) {\n    if (value >= 40 && value <= 60) return \"Comfortable\";\n    if ((value >= 30 && value < 40) || (value > 60 && value <= 70)) return \"Moderate\";\n    if ((value >= 20 && value < 30) || (value > 70 && value <= 80)) return \"Uncomfortable\";\n    return \"Extreme\";\n}\n\nmsg.averages = {\n    pm25: { value: avgPM25, status: getPM25Status(parseFloat(avgPM25)) },\n    pm10: { value: avgPM10, status: getPM10Status(parseFloat(avgPM10)) },\n    temp: { value: avgTemp, status: getTempStatus(parseFloat(avgTemp)) },\n    humidity: { value: avgHumid, status: getHumidityStatus(parseInt(avgHumid)) }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 760,
        "wires": [
            [
                "4caae068883ad8fe"
            ]
        ]
    },
    {
        "id": "4caae068883ad8fe",
        "type": "ui_template",
        "z": "8dda81f9590d2155",
        "group": "9dff1546fd297e8c",
        "name": "Avg4Field",
        "order": 2,
        "width": 10,
        "height": 11,
        "format": "<!DOCTYPE html>\n<html>\n\n<head>\n    <style>\n        .average-container {\n            padding: 20px;\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: #e3f6ff;\n            border-radius: 15px;\n            color: #000;\n            max-width: 700px;\n            margin: 0 auto;\n        }\n\n        .title-row {\n            display: grid;\n            grid-template-columns: 150px 1fr 1fr;\n            margin-bottom: 20px;\n            padding-bottom: 10px;\n            border-bottom: 2px solid rgba(0, 0, 0, 0.1);\n        }\n\n        .title-item:first-child {\n            grid-column: 2;\n            text-align: center;\n        }\n\n        .title-item:last-child {\n            grid-column: 3;\n            text-align: center;\n        }\n\n        .title-item {\n            font-size: 20px;\n            font-weight: bold;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            color: #000;\n        }\n\n        .metric-row {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-bottom: 20px;\n            padding: 15px 0;\n            border-bottom: 1px solid rgba(0, 0, 0, 0.1);\n        }\n\n        .metric-row:last-child {\n            border-bottom: none;\n            margin-bottom: 0;\n        }\n\n        .metric-label {\n            font-size: 18px;\n            font-weight: 600;\n            color: #000;\n            min-width: 150px;\n        }\n\n        .metric-value {\n            background: #7bdde4;\n            color: #000;\n            padding: 15px 25px;\n            border-radius: 8px;\n            font-weight: bold;\n            font-size: 16px;\n            min-width: 80px;\n            text-align: center;\n            margin-right: 30px;\n        }\n\n        .metric-status {\n            background: #fbfae2;\n            color: #000;\n            padding: 15px 25px;\n            border-radius: 8px;\n            font-size: 14px;\n            font-weight: 600;\n            min-width: 120px;\n            text-align: center;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"average-container\">\n        <div class=\"title-row\">\n            <div class=\"title-item\">Average</div>\n            <div class=\"title-item\">Status</div>\n        </div>\n\n        <div class=\"metric-row\">\n            <div class=\"metric-label\">PM2.5</div>\n            <div class=\"metric-value\" id=\"pm25-value\">17.5</div>\n            <div class=\"metric-status\" id=\"pm25-status\">Moderate</div>\n        </div>\n\n        <div class=\"metric-row\">\n            <div class=\"metric-label\">PM10</div>\n            <div class=\"metric-value\" id=\"pm10-value\">76.6</div>\n            <div class=\"metric-status\" id=\"pm10-status\">Moderate</div>\n        </div>\n\n        <div class=\"metric-row\">\n            <div class=\"metric-label\">Temp</div>\n            <div class=\"metric-value\" id=\"temp-value\">26.8</div>\n            <div class=\"metric-status\" id=\"temp-status\">Moderate</div>\n        </div>\n\n        <div class=\"metric-row\">\n            <div class=\"metric-label\">Humidity</div>\n            <div class=\"metric-value\" id=\"humid-value\">82</div>\n            <div class=\"metric-status\" id=\"humid-status\">Moderate</div>\n        </div>\n    </div>\n\n    <script>\n        // Sample data update function\n        function updateAverages(data) {\n            if (data && data.averages) {\n                const avg = data.averages;\n                \n                // Update values\n                document.getElementById('pm25-value').textContent = avg.pm25.value;\n                document.getElementById('pm10-value').textContent = avg.pm10.value;\n                document.getElementById('temp-value').textContent = avg.temp.value;\n                document.getElementById('humid-value').textContent = avg.humidity.value;\n                \n                // Update statuses\n                document.getElementById('pm25-status').textContent = avg.pm25.status;\n                document.getElementById('pm10-status').textContent = avg.pm10.status;\n                document.getElementById('temp-status').textContent = avg.temp.status;\n                document.getElementById('humid-status').textContent = avg.humidity.status;\n            }\n        }\n\n        // Demo with sample averages\n        const sampleAverages = {\n            averages: {\n                pm25: { value: \"17.5\", status: \"Moderate\" },\n                pm10: { value: \"76.6\", status: \"Moderate\" },\n                temp: { value: \"26.8\", status: \"Moderate\" },\n                humidity: { value: \"82\", status: \"Moderate\" }\n            }\n        };\n        \n        updateAverages(sampleAverages);\n    </script>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 900,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c03ec16613694906",
        "type": "ui_template",
        "z": "8dda81f9590d2155",
        "group": "176a6dcb963246d5",
        "name": "Display",
        "order": 8,
        "width": 5,
        "height": 6,
        "format": "<!-- Display Template -->\n<style>\n    .display-panel {\n        background-color: #E6F7FF;\n        padding: 15px;\n        border-radius: 8px;\n        width: 100%;\n        box-sizing: border-box;\n        overflow-x: hidden;\n        height: 300px;\n        display: flex;\n        flex-direction: column;\n    }\n\n    .display-panel h3 {\n        text-align: center;\n        margin-top: 0;\n        margin-bottom: 15px;\n        background: none;\n    }\n\n    .display-buttons {\n        display: flex;\n        flex-direction: column;\n        gap: 10px;\n        flex: 1;\n        justify-content: center;\n    }\n\n    .display-btn {\n        color: white;\n        padding: 12px;\n        border: none;\n        border-radius: 5px;\n        font-weight: bold;\n        width: 100%;\n        cursor: pointer;\n        transition: all 0.3s ease;\n        position: relative;\n        overflow: hidden;\n    }\n\n    .display-btn.dust {\n        background-color: #1AA6B7;\n    }\n\n    .display-btn.temp,\n    .display-btn.humidity {\n        background-color: #63C7B2;\n    }\n\n    .display-btn:hover {\n        transform: translateY(-2px);\n        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n    }\n\n    .display-btn:active {\n        transform: translateY(0);\n    }\n\n    .display-btn.selected {\n        background-color: #4D94FF !important;\n        box-shadow: 0 0 10px rgba(77, 148, 255, 0.5);\n    }\n\n    /* Ripple effect */\n    .display-btn::after {\n        content: '';\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        width: 0;\n        height: 0;\n        border-radius: 50%;\n        background: rgba(255, 255, 255, 0.3);\n        transform: translate(-50%, -50%);\n        transition: width 0.6s, height 0.6s;\n    }\n\n    .display-btn.ripple::after {\n        width: 300px;\n        height: 300px;\n    }\n</style>\n\n<div class=\"display-panel\">\n    <h3>Display</h3>\n    <div class=\"display-buttons\">\n        <button class=\"display-btn dust\"\n            ng-click=\"selectDisplay('dust')\"\n            ng-class=\"{'selected': msg.selectedDisplay == 'dust'}\">\n      Dust\n    </button>\n        <button class=\"display-btn temp\"\n            ng-click=\"selectDisplay('temp')\"\n            ng-class=\"{'selected': msg.selectedDisplay == 'temp'}\">\n      Temp\n    </button>\n        <button class=\"display-btn humidity\"\n            ng-click=\"selectDisplay('humid')\"\n            ng-class=\"{'selected': msg.selectedDisplay == 'humid'}\">\n      Humidity\n    </button>\n    </div>\n</div>\n\n<script>\n    // AngularJS controller cho Display\n  (function(scope) {\n    scope.selectedDisplay = null;\n    \n    scope.selectDisplay = function(type) {\n      // Xóa class selected từ tất cả buttons\n      setTimeout(() => {\n        document.querySelectorAll('.display-btn').forEach(btn => {\n          btn.classList.remove('selected', 'ripple');\n        });\n        \n        // Thêm class selected và ripple effect cho button được click\n        const clickedBtn = event.target;\n        clickedBtn.classList.add('selected', 'ripple');\n        \n        // Xóa ripple effect sau animation\n        setTimeout(() => {\n          clickedBtn.classList.remove('ripple');\n        }, 600);\n      }, 10);\n      \n      scope.selectedDisplay = type;\n      \n      // Gửi payload đến Node-RED\n      scope.send({\n        payload: type,\n        selectedDisplay: type\n      });\n    };\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "9facb2a151481e55"
            ]
        ]
    },
    {
        "id": "8b2075aa422f4c81",
        "type": "ui_template",
        "z": "8dda81f9590d2155",
        "group": "176a6dcb963246d5",
        "name": "Sound & Light",
        "order": 9,
        "width": 4,
        "height": 6,
        "format": "<!-- Sound & Light Template -->\n<style>\n    .sound-light-panel {\n        background-color: #E6F7FF;\n        padding: 15px;\n        border-radius: 8px;\n        width: 100%;\n        box-sizing: border-box;\n        overflow-x: hidden;\n        height: 300px;\n        display: flex;\n        flex-direction: column;\n    }\n\n    .sound-light-panel h3 {\n        text-align: center;\n        margin-top: 0;\n        margin-bottom: 15px;\n        background: none;\n    }\n\n    .sound-light-content {\n        display: grid;\n        grid-template-columns: 1fr auto;\n        gap: 15px;\n        align-items: center;\n        flex: 1;\n        align-content: center;\n    }\n\n    .sound-light-content span {\n        font-weight: bold;\n        font-size: 16px;\n    }\n\n    .toggle-btn {\n        background-color: #6ED6E1;\n        border: none;\n        padding: 8px 15px;\n        border-radius: 5px;\n        font-weight: bold;\n        width: 70px;\n        cursor: pointer;\n        transition: all 0.3s ease;\n        position: relative;\n        overflow: hidden;\n    }\n\n    .toggle-btn:hover {\n        transform: scale(1.05);\n    }\n\n    .toggle-btn.on {\n        background-color: #4CAF50 !important;\n        color: white;\n        box-shadow: 0 0 10px rgba(76, 175, 80, 0.4);\n    }\n\n    .toggle-btn.off {\n        background-color: #f44336 !important;\n        color: white;\n    }\n\n    /* Animation cho toggle */\n    .toggle-btn::before {\n        content: '';\n        position: absolute;\n        top: 0;\n        left: -100%;\n        width: 100%;\n        height: 100%;\n        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);\n        transition: left 0.5s;\n    }\n\n    .toggle-btn.animate::before {\n        left: 100%;\n    }\n</style>\n\n<div class=\"sound-light-panel\">\n    <h3>Sounds & Light</h3>\n    <div class=\"sound-light-content\">\n        <span>LED</span>\n        <button class=\"toggle-btn\"\n            ng-click=\"toggleLED()\"\n            ng-class=\"{'on': msg.ledState == 'ON', 'off': msg.ledState != 'ON'}\">\n      {{msg.ledState || 'OFF'}}\n    </button>\n        <span>BUZZER</span>\n        <button class=\"toggle-btn\"\n            ng-click=\"toggleBuzzer()\"\n            ng-class=\"{'on': msg.buzzerState == 'ON', 'off': msg.buzzerState != 'ON'}\">\n      {{msg.buzzerState || 'OFF'}}\n    </button>\n    </div>\n</div>\n\n<script>\n    // AngularJS controller cho Sound & Light\n  (function(scope) {\n    scope.ledState = 'OFF';\n    scope.buzzerState = 'OFF';\n    \n    scope.toggleLED = function() {\n      const btn = event.target;\n      btn.classList.add('animate');\n      \n      setTimeout(() => {\n        scope.ledState = scope.ledState === 'ON' ? 'OFF' : 'ON';\n        scope.$apply(); // Cập nhật view\n        btn.classList.remove('animate');\n      }, 250);\n      \n      // Gửi payload đến Node-RED\n      setTimeout(() => {\n        scope.send({\n          payload: 'led_toggle',\n          ledState: scope.ledState\n        });\n      }, 300);\n    };\n    \n    scope.toggleBuzzer = function() {\n      const btn = event.target;\n      btn.classList.add('animate');\n      \n      setTimeout(() => {\n        scope.buzzerState = scope.buzzerState === 'ON' ? 'OFF' : 'ON';\n        scope.$apply(); // Cập nhật view\n        btn.classList.remove('animate');\n      }, 250);\n      \n      // Gửi payload đến Node-RED\n      setTimeout(() => {\n        scope.send({\n          payload: 'buzzer_toggle',\n          buzzerState: scope.buzzerState\n        });\n      }, 300);\n    };\n    \n    // Lắng nghe tin nhắn từ Node-RED để cập nhật trạng thái\n    scope.$watch('msg', function(newMsg) {\n      if (newMsg) {\n        if (newMsg.ledState !== undefined) {\n          scope.ledState = newMsg.ledState;\n        }\n        if (newMsg.buzzerState !== undefined) {\n          scope.buzzerState = newMsg.buzzerState;\n        }\n      }\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "9fe7a047742e3562"
            ]
        ]
    },
    {
        "id": "9fe7a047742e3562",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "handleControlToggle",
        "func": "if (msg.payload === 'led_toggle') {\n    let state = flow.get(\"led_state\") || \"OFF\";\n    if (state === \"OFF\") {\n        state = \"ON\";\n        msg.payload = \"LED_ON\";\n    } else {\n        state = \"OFF\";\n        msg.payload = \"LED_OFF\";\n    }\n    flow.set(\"led_state\", state);\n    msg.ledState = state;\n    msg.topic = \"/23127354-23127388-23127435/led-buzzer\";\n}\nelse if (msg.payload === 'buzzer_toggle') {\n    let state = flow.get(\"buzzer_state\") || \"OFF\";\n    if (state === \"OFF\") {\n        state = \"ON\";\n        msg.payload = \"BUZZER_ON\";\n    } else {\n        state = \"OFF\";\n        msg.payload = \"BUZZER_OFF\";\n    }\n    flow.set(\"buzzer_state\", state);\n    msg.buzzerState = state;\n    msg.topic = \"/23127354-23127388-23127435/led-buzzer\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 460,
        "wires": [
            [
                "2d482c818d7721c4"
            ]
        ]
    },
    {
        "id": "d17771dc5424384b",
        "type": "mqtt out",
        "z": "8dda81f9590d2155",
        "name": "",
        "topic": "/23127354-23127388-23127435/screen",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "4b3ea0b73f99b7c6",
        "type": "mqtt in",
        "z": "8dda81f9590d2155",
        "name": "pm10",
        "topic": "/23127354-23127388-23127435/pm10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 220,
        "wires": [
            [
                "e153e58c21cd6e2d"
            ]
        ]
    },
    {
        "id": "f207f98c36653348",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "alert_noti",
        "func": "// Đảm bảo có label và payload là số\nlet label = msg.label;\nlet value = msg.payload;\n\nif (!label || typeof value !== \"number\") {\n    msg.payload = {\n        alert: \"sai label\",\n    };\n    return msg;  // Bỏ qua nếu không hợp lệ\n}\n\n// Lưu giá trị vào flow context\nflow.set(label, value);\n\n// Lấy lại giá trị từ bộ nhớ\nlet pm25 = flow.get(\"PM2_5\");\nlet pm10 = flow.get(\"PM10\");\n\n// Chỉ xử lý khi đã có đủ cả hai\nif (pm25 === undefined || pm10 === undefined) {\n    msg.payload = {\n        alert: \"Chua du hai du lieu\",\n        PM2_5: pm25,\n        PM10: pm10,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n}\n\n// đoạn code cho led\nlet statePM25 = pm25 > 35.4 ? 2 : (pm25 > 12 ? 1 : 0);\nlet statePM10 = pm10 > 154 ? 2 : (pm10 > 54 ? 1 : 0);\nlet ledState = (statePM25 === 2 || statePM10 === 2) ? 2\n    : (statePM25 === 1 || statePM10 === 1) ? 1\n        : 0;\n\nflow.set(\"led_state\", ledState);\n// Kiểm tra trạng thái cảnh báo\nlet isAlert = (pm25 > 35.4 || pm10 > 154);\nlet wasAlert = flow.get(\"alert_state\") || false;\n\nif (isAlert && !wasAlert) {\n    flow.set(\"alert_state\", true);\n    msg.payload = \"ALERT\";\n    flow.set(\"PM2_5\", undefined);\n    flow.set(\"PM10\", undefined);\n    return msg;\n} else if (!isAlert && wasAlert) {\n    flow.set(\"alert_state\", false);\n    msg.payload = {\n        alert: \"SAFE\",\n        PM2_5: pm25,\n        PM10: pm10,\n        timestamp: new Date().toISOString()\n    };\n    flow.set(\"PM2_5\", undefined);\n    flow.set(\"PM10\", undefined);\n\n    return msg;\n}\n\n// Không thay đổi trạng thái → không gửi gì\nmsg.payload = {\n    alert: \"no change state\",\n    PM2_5: pm25,\n    PM10: pm10,\n    timestamp: new Date().toISOString()\n};\nflow.set(\"PM2_5\", undefined);\nflow.set(\"PM10\", undefined);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 120,
        "wires": [
            [
                "99f3976e7751c756",
                "7be078fba0f79d9f",
                "6a53661f844c8fd0"
            ]
        ]
    },
    {
        "id": "8d6d3e44a0309b0e",
        "type": "mqtt out",
        "z": "8dda81f9590d2155",
        "name": "",
        "topic": "/23127354-23127388-23127435/alert",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 1330,
        "y": 180,
        "wires": []
    },
    {
        "id": "99f3976e7751c756",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "3add253b3797bbb0",
        "type": "delay",
        "z": "8dda81f9590d2155",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "b7d162385c54da36"
            ]
        ]
    },
    {
        "id": "2b14b2965865c05d",
        "type": "delay",
        "z": "8dda81f9590d2155",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "300a8c9f00f308f2"
            ]
        ]
    },
    {
        "id": "7be078fba0f79d9f",
        "type": "switch",
        "z": "8dda81f9590d2155",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALERT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 180,
        "wires": [
            [
                "8d6d3e44a0309b0e",
                "192794ee93b1afa6"
            ]
        ]
    },
    {
        "id": "b7d162385c54da36",
        "type": "change",
        "z": "8dda81f9590d2155",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "\"PM2_5\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 100,
        "wires": [
            [
                "f207f98c36653348"
            ]
        ]
    },
    {
        "id": "300a8c9f00f308f2",
        "type": "change",
        "z": "8dda81f9590d2155",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "\"PM10\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 140,
        "wires": [
            [
                "f207f98c36653348"
            ]
        ]
    },
    {
        "id": "ecd2af85d099df14",
        "type": "http request",
        "z": "8dda81f9590d2155",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=hIFTbiwdL2VJfWmVBa0C&m={{payload}}&t=CẢNH BÁO CHẤT LƯỢNG KHÔNG KHÍ NGUY HIỂM&s=1&v=1&p=2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1390,
        "y": 240,
        "wires": [
            [
                "63590243af7e60b2"
            ]
        ]
    },
    {
        "id": "192794ee93b1afa6",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "function 2",
        "func": "// Lấy giá trị PM2_5 và PM10 từ flow context\nlet pm25 = flow.get(\"PM2_5\");\nlet pm10 = flow.get(\"PM10\");\n\n\n// Chuẩn bị payload chỉ chứa dữ liệu\nmsg.payload = `PM2.5: ${pm25 || 0} µgm, PM10: ${pm10 || 0} µgm`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 240,
        "wires": [
            [
                "ecd2af85d099df14"
            ]
        ]
    },
    {
        "id": "63590243af7e60b2",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 240,
        "wires": []
    },
    {
        "id": "9facb2a151481e55",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "handleDisplayClick",
        "func": "// msg.payload sẽ là 'dust', 'temp' hoặc 'humid' từ template Display\nmsg.topic = \"/23127354-23127388-23127435/screen\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "d17771dc5424384b"
            ]
        ]
    },
    {
        "id": "d31537a49feaeecd",
        "type": "change",
        "z": "8dda81f9590d2155",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"field1\": payload}",
                "tot": "jsonata",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "9da36023da0b0d40"
            ]
        ]
    },
    {
        "id": "f51de0e75ea173e4",
        "type": "change",
        "z": "8dda81f9590d2155",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"field2\": payload}",
                "tot": "jsonata",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "9da36023da0b0d40"
            ]
        ]
    },
    {
        "id": "406176db8334e4bc",
        "type": "change",
        "z": "8dda81f9590d2155",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"field3\": payload}",
                "tot": "jsonata",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "9da36023da0b0d40"
            ]
        ]
    },
    {
        "id": "c8ed9d69caac8110",
        "type": "change",
        "z": "8dda81f9590d2155",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"field4\": payload}",
                "tot": "jsonata",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 300,
        "wires": [
            [
                "9da36023da0b0d40"
            ]
        ]
    },
    {
        "id": "9da36023da0b0d40",
        "type": "join",
        "z": "8dda81f9590d2155",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "5",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 770,
        "y": 240,
        "wires": [
            [
                "ab340bc0bbd711bc"
            ]
        ]
    },
    {
        "id": "ab340bc0bbd711bc",
        "type": "http request",
        "z": "8dda81f9590d2155",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=WXCJIZN3BFGAPQ1L&field1={{payload.field1}}&field2={{payload.field2}}&field3={{payload.field3}}&field4={{payload.field4}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "405c971bd6f7eaab",
        "type": "json",
        "z": "8dda81f9590d2155",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "3d744b0ace9d285b",
                "9ad09c685606dd12",
                "6e50af3812f4b5c4"
            ]
        ]
    },
    {
        "id": "3d744b0ace9d285b",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "9ad09c685606dd12",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "line chart",
        "func": "const feeds = msg.payload.feeds;\n\nlet messages = [];\n\nfeeds.forEach(feed => {\n    const timestamp = new Date(feed.created_at).getTime();\n\n    if (feed.field1 !== null && feed.field1 !== undefined && feed.field1 !== \"\") {\n        messages.push({\n            payload: parseFloat(feed.field1),\n            topic: \"PM2.5\",\n            timestamp: timestamp\n        });\n    }\n\n    if (feed.field2 !== null && feed.field2 !== undefined && feed.field2 !== \"\") {\n        messages.push({\n            payload: parseFloat(feed.field2),\n            topic: \"PM10\",\n            timestamp: timestamp\n        });\n    }\n});\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "e109d81e20d686fc"
            ]
        ]
    },
    {
        "id": "6e50af3812f4b5c4",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "avg",
        "func": "// Lấy dữ liệu feeds từ ThingSpeak\nconst feeds = msg.payload.feeds;\n\n// Kiểm tra dữ liệu đầu vào\nif (!feeds || !Array.isArray(feeds)) {\n    node.error(\"Không có dữ liệu feeds hợp lệ\");\n    return null;\n}\n\nlet pm25Values = [];\nlet pm10Values = [];\n\n// Thu thập tất cả giá trị hợp lệ\nfeeds.forEach(feed => {\n    // Thu thập PM2.5 values\n    if (feed.field1 !== null && feed.field1 !== undefined && feed.field1 !== \"\") {\n        const pm25 = parseFloat(feed.field1);\n        if (!isNaN(pm25)) {\n            pm25Values.push(pm25);\n        }\n    }\n    \n    // Thu thập PM10 values  \n    if (feed.field2 !== null && feed.field2 !== undefined && feed.field2 !== \"\") {\n        const pm10 = parseFloat(feed.field2);\n        if (!isNaN(pm10)) {\n            pm10Values.push(pm10);\n        }\n    }\n});\n\n// Tính trung bình\nlet pm25Avg = 0;\nlet pm10Avg = 0;\n\nif (pm25Values.length > 0) {\n    pm25Avg = pm25Values.reduce((sum, val) => sum + val, 0) / pm25Values.length;\n}\n\nif (pm10Values.length > 0) {\n    pm10Avg = pm10Values.reduce((sum, val) => sum + val, 0) / pm10Values.length;\n}\n\n// Làm tròn đến 1 chữ số thập phân\npm25Avg = Math.round(pm25Avg * 10) / 10;\npm10Avg = Math.round(pm10Avg * 10) / 10;\n\n// Log kết quả\nnode.warn(`PM2.5 Average: ${pm25Avg} μg/m³ (từ ${pm25Values.length} samples)`);\nnode.warn(`PM10 Average: ${pm10Avg} μg/m³ (từ ${pm10Values.length} samples)`);\n\n// Tạo payload cho Template node (chỉ 1 output)\nmsg.payload = {\n    pm25_avg: pm25Avg,\n    pm10_avg: pm10Avg,\n    pm25_count: pm25Values.length,\n    pm10_count: pm10Values.length\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 620,
        "wires": [
            [
                "f7f761f4f58f2f28"
            ]
        ]
    },
    {
        "id": "f7f761f4f58f2f28",
        "type": "ui_template",
        "z": "8dda81f9590d2155",
        "group": "176a6dcb963246d5",
        "name": "PM Avg",
        "order": 4,
        "width": 8,
        "height": 4,
        "format": "<div\n    style=\"background-color: #e2e8f0; padding: 20px; border-radius: 12px; text-align: left; font-family: Arial, sans-serif; width: 100%; margin: 0; box-sizing: border-box;\">\n    <h2 style=\"margin: 0 0 25px 0; font-size: 22px; font-weight: bold; text-align: center; color: #1a202c;\">Average</h2>\n\n    <div style=\"margin-bottom: 20px;\">\n        <div style=\"display: flex; align-items: center; justify-content: space-between;\">\n            <span style=\"font-size: 18px; font-weight: bold; color: #2d3748;\">PM2.5</span>\n            <div\n                style=\"background-color: #81e6d9; color: #1a202c; padding: 12px 24px; border-radius: 8px; font-size: 16px; font-weight: bold; min-width: 60px; text-align: center;\">\n                {{msg.payload.pm25_avg}}\n            </div>\n        </div>\n    </div>\n\n    <div>\n        <div style=\"display: flex; align-items: center; justify-content: space-between;\">\n            <span style=\"font-size: 18px; font-weight: bold; color: #2d3748;\">PM10</span>\n            <div\n                style=\"background-color: #81e6d9; color: #1a202c; padding: 12px 24px; border-radius: 8px; font-size: 16px; font-weight: bold; min-width: 60px; text-align: center;\">\n                {{msg.payload.pm10_avg}}\n            </div>\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "fbd860164a693d11",
        "type": "ui_template",
        "z": "8dda81f9590d2155",
        "group": "176a6dcb963246d5",
        "name": "temp/humid",
        "order": 3,
        "width": 8,
        "height": 4,
        "format": "<!-- Template cho Node-RED Template node -->\n<style>\n    .sensor-container {\n        display: flex;\n        flex-direction: column;\n        gap: 15px;\n        font-family: Arial, sans-serif;\n        padding: 10px;\n    }\n\n    .sensor-card {\n        background-color: #e3f2fd;\n        border-radius: 12px;\n        padding: 20px;\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        min-width: 200px;\n        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n    }\n\n    .sensor-value {\n        font-size: 32px;\n        font-weight: bold;\n        color: #1a1a1a;\n    }\n\n    .sensor-icon {\n        font-size: 28px;\n        color: #333;\n    }\n\n    /* Icon styles sử dụng Unicode symbols */\n    .humidity-icon::before {\n        content: \"💧\";\n    }\n\n    .temperature-icon::before {\n        content: \"🌡️\";\n    }\n</style>\n\n<div class=\"sensor-container\">\n    <!-- Độ ẩm -->\n    <div class=\"sensor-card\">\n        <span class=\"sensor-value\">{{msg.payload.Humidity}}%</span>\n        <span class=\"sensor-icon humidity-icon\"></span>\n    </div>\n\n    <!-- Nhiệt độ -->\n    <div class=\"sensor-card\">\n        <span class=\"sensor-value\">{{msg.payload.Temperature}}°C</span>\n        <span class=\"sensor-icon temperature-icon\"></span>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 550,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1a7c677863c5e778",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "Save Original Password",
        "func": "var username = msg.payload.username;\nmsg.original_password = msg.payload.password; // Lưu pass gốc để so sánh\nmsg.method = \"GET\";\nmsg.url = \"https://iot-user-4e30c-default-rtdb.asia-southeast1.firebasedatabase.app/users/\" + username + \".json\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 840,
        "wires": [
            [
                "b86b14571d6a6abf",
                "be83a66ab43212ca"
            ]
        ]
    },
    {
        "id": "b86b14571d6a6abf",
        "type": "http request",
        "z": "8dda81f9590d2155",
        "name": "Get User Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 840,
        "wires": [
            [
                "77e1aa5b611eee0f",
                "151d0c04402389d9"
            ]
        ]
    },
    {
        "id": "77e1aa5b611eee0f",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "Check Password",
        "func": "if (!msg.payload) {\n    msg.payload = { status: \"Log:   ❌ User not found\", loggedIn: false };\n    context.set(\"loggedIn\", false);\n    return [null, msg];\n}\n\nif (msg.payload.password === msg.original_password) {\n    msg.payload = { status: \"✅ Login successful\", loggedIn: true };\n    context.set(\"loggedIn\", true);\n    return [msg, null];\n} else {\n    msg.payload = { status: \"Log:   ❌ Wrong password\", loggedIn: false };\n    context.set(\"loggedIn\", false);\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 840,
        "wires": [
            [
                "6c8c8c223f69e6d0",
                "31a6ea8571518a8b"
            ],
            [
                "3130ab86a369d9df",
                "2ac09e9982ad0801"
            ]
        ]
    },
    {
        "id": "6c8c8c223f69e6d0",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "Login OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 880,
        "wires": []
    },
    {
        "id": "3130ab86a369d9df",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "Login Fail",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 920,
        "wires": []
    },
    {
        "id": "be83a66ab43212ca",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 880,
        "wires": []
    },
    {
        "id": "03027532204c9ca2",
        "type": "ui_form",
        "z": "8dda81f9590d2155",
        "name": "Login Form",
        "label": "",
        "group": "5544fff7dde48975",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "1a7c677863c5e778",
                "180f24c63e96e63b"
            ]
        ]
    },
    {
        "id": "180f24c63e96e63b",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 880,
        "wires": []
    },
    {
        "id": "31a6ea8571518a8b",
        "type": "switch",
        "z": "8dda81f9590d2155",
        "name": "",
        "property": "msg.payload.loggedIn",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 900,
        "wires": [
            [
                "e54592942b44f35b"
            ],
            [
                "03027532204c9ca2"
            ]
        ]
    },
    {
        "id": "f7135dfcb0c1f65c",
        "type": "ui_ui_control",
        "z": "8dda81f9590d2155",
        "name": "",
        "events": "all",
        "x": 1140,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "e54592942b44f35b",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "function 5",
        "func": "msg.payload = { tab: \"Home\", enabled: true }; // Thay \"Home\" bằng tab bạn muốn hiển thị\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 960,
        "wires": [
            [
                "f7135dfcb0c1f65c"
            ]
        ]
    },
    {
        "id": "2ac09e9982ad0801",
        "type": "ui_text",
        "z": "8dda81f9590d2155",
        "group": "5544fff7dde48975",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 840,
        "wires": []
    },
    {
        "id": "edc007e33a9b3822",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "formatTable",
        "func": "if (!msg.payload || !msg.payload.feeds) {\n    msg.payload = [];\n    return msg;\n}\n\nconst feeds = msg.payload.feeds;\nlet tableData = [];\n\nfeeds.forEach(feed => {\n    const timestamp = new Date(feed.created_at);\n    const timeString = timestamp.toLocaleString('vi-VN', {\n        day: '2-digit',\n        month: '2-digit', \n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        timeZone: 'Asia/Ho_Chi_Minh'\n    });\n\n    tableData.push({\n        \"Time\": timeString,\n        \"PM25\": feed.field1,  // Thay đổi key thành \"PM25\"\n        \"PM10\": feed.field2,\n        \"Temperature\": feed.field3,\n        \"Humidity\": feed.field4\n    });\n});\n\ntableData.reverse();\nmsg.payload = tableData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 700,
        "wires": [
            [
                "4329c0cbc283729c",
                "446d09467bde2f6c"
            ]
        ]
    },
    {
        "id": "4329c0cbc283729c",
        "type": "ui_table",
        "z": "8dda81f9590d2155",
        "group": "9dff1546fd297e8c",
        "name": "",
        "order": 1,
        "width": 16,
        "height": 11,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 730,
        "y": 700,
        "wires": []
    },
    {
        "id": "a8c76196ccb5a45e",
        "type": "inject",
        "z": "8dda81f9590d2155",
        "name": "Auto Update Every 5 Min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "ec47e4cab21a4d57"
            ]
        ]
    },
    {
        "id": "ec47e4cab21a4d57",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "Prepare API Request",
        "func": "// CÁCH MỚI - Không dùng msg.url nữa\n// Chỉ chuẩn bị dữ liệu để xử lý\n\nmsg.payload = {\n    action: \"getData\",\n    timestamp: new Date().toISOString()\n};\n\n// Log để debug\nnode.log(\"Preparing to fetch ThingSpeak data\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "4d236477cfa97edb"
            ]
        ]
    },
    {
        "id": "4d236477cfa97edb",
        "type": "http request",
        "z": "8dda81f9590d2155",
        "name": "Get ThingSpeak Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/3030128/feeds.json?api_key=A2AAQJ1EF8O43YAP&results=10",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 1000,
        "wires": [
            [
                "51fdd9b4e6655bd8",
                "1eea2d8e4e444b1d"
            ]
        ]
    },
    {
        "id": "51fdd9b4e6655bd8",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "Store Data in Context",
        "func": "// Lấy dữ liệu từ ThingSpeak response\nvar data = msg.payload;\n\nif (data && data.feeds && data.feeds.length > 0) {\n    // Lấy dữ liệu mới nhất\n    var latestData = data.feeds[data.feeds.length - 1];\n    \n    // Tạo object dữ liệu\n    var sensorData = {\n        pm25: parseFloat(latestData.field1) || 0,\n        pm10: parseFloat(latestData.field2) || 0, \n        temp: parseFloat(latestData.field3) || 0,\n        hum: parseFloat(latestData.field4) || 0,\n        timestamp: latestData.created_at,\n        allFeeds: data.feeds,\n        lastUpdate: new Date().toISOString()\n    };\n    \n    // ✅ SỬA: Dùng GLOBAL context thay vì flow context\n    global.set(\"latestSensorData\", sensorData);\n    \n    // Log thông tin\n    node.log(\"✅ Updated GLOBAL sensor data: PM2.5=\" + sensorData.pm25 + \n             \", PM10=\" + sensorData.pm10 + \n             \", Temp=\" + sensorData.temp + \n             \", Hum=\" + sensorData.hum);\n    \n    msg.payload = sensorData;\n} else {\n    msg.payload = {error: \"No data received from ThingSpeak\"};\n    node.log(\"❌ No data from ThingSpeak API\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1040,
        "wires": [
            [
                "f0b03dc9eb9675df"
            ]
        ]
    },
    {
        "id": "f0b03dc9eb9675df",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "Data Update Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1040,
        "wires": []
    },
    {
        "id": "260d532d7a206a88",
        "type": "ui_text_input",
        "z": "8dda81f9590d2155",
        "name": "Question Input",
        "label": "Hỏi về chất lượng không khí",
        "tooltip": "",
        "group": "176a6dcb963246d5",
        "order": 16,
        "width": 10,
        "height": 2,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "user_question",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 1100,
        "wires": [
            [
                "9bbcc7c6eb44bd57"
            ]
        ]
    },
    {
        "id": "9bbcc7c6eb44bd57",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "Process User Question",
        "func": "//context.set(\"currentQuestion\", msg.payload);\n// Lấy câu hỏi từ user\nvar userQuestion = msg.payload;\nmsg.original_question = userQuestion;\n\n// Đọc từ GLOBAL context\nvar sensorData = global.get(\"latestSensorData\");\n\n// Kiểm tra dữ liệu\nif (!sensorData) {\n    msg.payload = \"Chưa có dữ liệu cảm biến. Hệ thống đang cập nhật dữ liệu mỗi 5 phút. Vui lòng chờ ít phút và thử lại.\";\n    return msg;\n}\n\n// Kiểm tra độ fresh của data - SỬA CÁCH TÍNH\nvar currentTime = new Date();\nvar lastUpdateTime = new Date(sensorData.lastUpdate);\nvar dataAge = currentTime.getTime() - lastUpdateTime.getTime();\nvar ageMinutes = Math.floor(dataAge / (1000 * 60));\n\n// Kiểm tra data không quá cũ\nif (ageMinutes > 15) {\n    msg.payload = \"Dữ liệu đã cũ \" + ageMinutes + \" phút. Đang chờ cập nhật mới...\";\n    return msg;\n}\n\n// Tạo prompt cho AI\nvar prompt = \"Bạn là chuyên gia phân tích chất lượng không khí IoT.\\n\\n\";\nprompt += \"DỮLIỆU HIỆN TẠI (cập nhật \" + ageMinutes + \" phút trước):\\n\";\nprompt += \"• PM2.5: \" + sensorData.pm25 + \" µg/m³\\n\";\nprompt += \"• PM10: \" + sensorData.pm10 + \" µg/m³\\n\";\nprompt += \"• Nhiệt độ: \" + sensorData.temp + \"°C\\n\";\nprompt += \"• Độ ẩm: \" + sensorData.hum + \"%\\n\";\nprompt += \"• Thời gian: \" + sensorData.timestamp + \"\\n\\n\";\n\nprompt += \"TIÊU CHUẨN WHO:\\n\";\nprompt += \"PM2.5: <15 (tốt) | 15-25 (trung bình) | 25-37 (kém) | >37 (nguy hiểm)\\n\";\nprompt += \"PM10: <45 (tốt) | 45-75 (trung bình) | 75-150 (kém) | >150 (nguy hiểm)\\n\\n\";\n\nprompt += \"CÂU HỎI: \" + userQuestion + \"\\n\\n\";\nprompt += \"YÊU CÀU: Phân tích dữ liệu, đánh giá mức độ và đưa khuyến nghị cụ thể. Trả lời ngắn gọn bằng tiếng Việt.\";\n\n// Chuẩn bị cho Gemini\nmsg.payload = {\n    contents: [{\n        parts: [{\n            text: prompt\n        }]\n    }],\n    generationConfig: {\n        temperature: 0.2,\n        maxOutputTokens: 400\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "c16156d868d08717"
            ]
        ]
    },
    {
        "id": "c16156d868d08717",
        "type": "http request",
        "z": "8dda81f9590d2155",
        "name": "Call Gemini AI",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyC1LGnNDjeNh0EbdkJdN-XAWGd05Lj97vQ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 540,
        "y": 1100,
        "wires": [
            [
                "a7a0def74c55c1f1",
                "b8cec350e3f7544d"
            ]
        ]
    },
    {
        "id": "a7a0def74c55c1f1",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "Format AI Response",
        "func": "try {\n    var response = msg.payload;\n    \n    if (response && response.candidates && response.candidates[0]) {\n        var aiResponse = response.candidates[0].content.parts[0].text;\n        \n        // Format response với timestamp\n        var formattedResponse = `🤖 **Phân tích chất lượng không khí:**\\n\\n${aiResponse}\\n\\n⏰ *Cập nhật: ${new Date().toLocaleString('vi-VN')}*`;\n        \n        msg.payload = formattedResponse;\n    } else {\n        msg.payload = \"❌ Xin lỗi không thể phân tích dữ liệu lúc này. Vui lòng thử lại sau.\";\n    }\n} catch (error) {\n    msg.payload = \"❌ Có lỗi xảy ra: \" + error.message;\n    node.error(\"AI Response Error: \" + error.message);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1100,
        "wires": [
            [
                "95568a0ed224cf5d"
            ]
        ]
    },
    {
        "id": "95568a0ed224cf5d",
        "type": "ui_text",
        "z": "8dda81f9590d2155",
        "group": "176a6dcb963246d5",
        "order": 19,
        "width": 10,
        "height": 4,
        "name": "",
        "label": "Câu trả lời",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b8cec350e3f7544d",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "Chatbot Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1140,
        "wires": []
    },
    {
        "id": "1eea2d8e4e444b1d",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug global data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1000,
        "wires": []
    },
    {
        "id": "fbd95ce49fa0b82d",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 760,
        "wires": []
    },
    {
        "id": "9bcad8a01870c450",
        "type": "http request",
        "z": "8dda81f9590d2155",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/3030128/feeds.json?api_key=A2AAQJ1EF8O43YAP&results=1000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 250,
        "y": 540,
        "wires": [
            [
                "405c971bd6f7eaab"
            ]
        ]
    },
    {
        "id": "16452679de2af54f",
        "type": "inject",
        "z": "8dda81f9590d2155",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "9bcad8a01870c450"
            ]
        ]
    },
    {
        "id": "f16f8988b2e8b081",
        "type": "http request",
        "z": "8dda81f9590d2155",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{url}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 700,
        "wires": [
            [
                "fbd95ce49fa0b82d",
                "edc007e33a9b3822"
            ]
        ]
    },
    {
        "id": "c1ebc95d8a87b93a",
        "type": "inject",
        "z": "8dda81f9590d2155",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "f2f6554b27cc1929"
            ]
        ]
    },
    {
        "id": "151d0c04402389d9",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "c65341a3a088ec63",
        "type": "mqtt in",
        "z": "8dda81f9590d2155",
        "name": "gas-alert",
        "topic": "/23127354-23127388-23127435/gas-alert",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1180,
        "wires": [
            [
                "9899a83ac5a96007",
                "cddc751c7c7f8df2"
            ]
        ]
    },
    {
        "id": "9899a83ac5a96007",
        "type": "http request",
        "z": "8dda81f9590d2155",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=hIFTbiwdL2VJfWmVBa0C&m=Dangerous%20Gas%20Levels!&t=NGƯỠNG%20GA%20NGUY%20HIỂM&s=1&v=1&p=2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "6a53661f844c8fd0",
        "type": "function",
        "z": "8dda81f9590d2155",
        "name": "LED",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 40,
        "wires": [
            [
                "d7858ba8affd2ac6"
            ]
        ]
    },
    {
        "id": "d7858ba8affd2ac6",
        "type": "change",
        "z": "8dda81f9590d2155",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "led_state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 40,
        "wires": [
            [
                "50a7a5be8d4510b2",
                "3ce679e584ca3e06"
            ]
        ]
    },
    {
        "id": "50a7a5be8d4510b2",
        "type": "switch",
        "z": "8dda81f9590d2155",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "2",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1290,
        "y": 40,
        "wires": [
            [
                "4919cb95e162d1d1"
            ]
        ]
    },
    {
        "id": "3ce679e584ca3e06",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 80,
        "wires": []
    },
    {
        "id": "4919cb95e162d1d1",
        "type": "rbe",
        "z": "8dda81f9590d2155",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1450,
        "y": 40,
        "wires": [
            [
                "848f8aed47629c60"
            ]
        ]
    },
    {
        "id": "848f8aed47629c60",
        "type": "mqtt out",
        "z": "8dda81f9590d2155",
        "name": "",
        "topic": "/23127354-23127388-23127435/led",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 1710,
        "y": 40,
        "wires": []
    },
    {
        "id": "cddc751c7c7f8df2",
        "type": "debug",
        "z": "8dda81f9590d2155",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 1280,
        "wires": []
    },
    {
        "id": "84f6e65babf6af17",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e1cafa64399fa37",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e572d0f1350a14e",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 10,
        "width": 26,
        "height": 1
    },
    {
        "id": "ac384f34716e944a",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 11,
        "width": 26,
        "height": 1
    },
    {
        "id": "22a9070d9bee35ce",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 12,
        "width": 26,
        "height": 1
    },
    {
        "id": "fc2f3cd0daed797b",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 13,
        "width": 26,
        "height": 1
    },
    {
        "id": "7e54589c486688aa",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 14,
        "width": 26,
        "height": 1
    },
    {
        "id": "df2d08ed9b4c88fd",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 15,
        "width": 26,
        "height": 1
    },
    {
        "id": "938f4e9f6f1d3f26",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 17,
        "width": 16,
        "height": 1
    },
    {
        "id": "68cacc4b7a74c667",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 18,
        "width": 16,
        "height": 1
    },
    {
        "id": "f9796ef0514ba8fb",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 20,
        "width": 16,
        "height": 1
    },
    {
        "id": "89c308fe612d337f",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 21,
        "width": 16,
        "height": 1
    },
    {
        "id": "d13bbd91cccd1728",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 22,
        "width": 16,
        "height": 1
    },
    {
        "id": "a44200a14f39e7da",
        "type": "ui_spacer",
        "z": "8dda81f9590d2155",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 23,
        "width": 16,
        "height": 1
    },
    {
        "id": "176a6dcb963246d5",
        "type": "ui_group",
        "name": "Main",
        "tab": "3b9e5927881a6d45",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4f2654eb37bf1b3",
        "type": "mqtt-broker",
        "name": "http",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9dff1546fd297e8c",
        "type": "ui_group",
        "name": "Main",
        "tab": "9f2637ddf31cbc5c",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5544fff7dde48975",
        "type": "ui_group",
        "name": "Login",
        "tab": "6fabf63c778508b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b9e5927881a6d45",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f2637ddf31cbc5c",
        "type": "ui_tab",
        "name": "Logs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6fabf63c778508b4",
        "type": "ui_tab",
        "name": "Authen",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": true
    }
]
