flows.json
[
    {
        "id": "44f9ec8549dd6cd0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4f2654eb37bf1b3",
        "type": "mqtt-broker",
        "name": "http",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3b9e5927881a6d45",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "9f2637ddf31cbc5c",
        "type": "ui_tab",
        "name": "Logs",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "176a6dcb963246d5",
        "type": "ui_group",
        "name": "Main",
        "tab": "3b9e5927881a6d45",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9dff1546fd297e8c",
        "type": "ui_group",
        "name": "Main",
        "tab": "9f2637ddf31cbc5c",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d881abfa18477ebf",
        "type": "ui_spacer",
        "z": "44f9ec8549dd6cd0",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 10,
        "width": 16,
        "height": 1
    },
    {
        "id": "da41e42544591d8d",
        "type": "ui_tab",
        "name": "Authen",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "b35559caedba2363",
        "type": "ui_group",
        "name": "Login",
        "tab": "da41e42544591d8d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ead562f7e78cfd4a",
        "type": "ui_gauge",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "group": "176a6dcb963246d5",
        "order": 1,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "PM2.5",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "504",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "128b233e760ecc24",
        "type": "ui_gauge",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "group": "176a6dcb963246d5",
        "order": 2,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "PM10",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500.4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "3c9ac084f74ed2e0",
        "type": "mqtt in",
        "z": "44f9ec8549dd6cd0",
        "name": "humid",
        "topic": "/23127354-23127388-23127435/humid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "6ef572be12b90f31"
            ]
        ]
    },
    {
        "id": "cdce23d8cfd92eef",
        "type": "mqtt in",
        "z": "44f9ec8549dd6cd0",
        "name": "temp",
        "topic": "/23127354-23127388-23127435/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "6ef572be12b90f31"
            ]
        ]
    },
    {
        "id": "4f62ebb09931dcf6",
        "type": "mqtt in",
        "z": "44f9ec8549dd6cd0",
        "name": "pm25",
        "topic": "/23127354-23127388-23127435/pm25",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "6ef572be12b90f31"
            ]
        ]
    },
    {
        "id": "6ef572be12b90f31",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "Combine sensors",
        "func": "let type;\nlet value = parseFloat(msg.payload);\n\n// Xác định loại dữ liệu từ topic\nif (msg.topic.includes(\"humid\")) {\n    type = \"Humidity\";\n} else if (msg.topic.includes(\"temp\")) {\n    type = \"Temperature\";\n} else if (msg.topic.includes(\"pm25\")) {\n    type = \"PM2_5\";  // Sửa lại PM2.5\n} else if (msg.topic.includes(\"pm10\")) {\n    type = \"PM10\";\n} else {\n    type = \"Unknown\"; // Kiểm tra nếu topic không xác định\n}\n\n// Lưu giá trị vào flow context theo từng loại\nflow.set(type, value);\n\n// Lấy giá trị hiện có từ flow context\nlet humidity = flow.get(\"Humidity\");\nlet temp = flow.get(\"Temperature\");\nlet pm25 = flow.get(\"PM2_5\");\nlet pm10 = flow.get(\"PM10\");\n\n// Chỉ gửi dữ liệu khi đủ cả 4 giá trị\nif (humidity !== undefined && temp !== undefined && pm25 !== undefined && pm10 !== undefined) {\n    // Định dạng dữ liệu cho chart\n    let pmData = [\n        { x: new Date().toISOString(), y: pm25 },\n        { x: new Date().toISOString(), y: pm10 }\n    ];\n\n    let chartData = {\n        series: [\"PM2.5\", \"PM10\"],\n        data: [pmData[0], pmData[1]],\n        labels: [new Date().toISOString()]\n    };\n\n    // Dữ liệu cho các gauge\n    let gaugesData = {\n        PM2_5: pm25,\n        PM10: pm10,\n        Temperature: temp,\n        Humidity: humidity\n    };\n\n    // Trả lại dữ liệu dưới định dạng cho từng output\n    return [\n        { payload: pm25 },  // Output 1: PM2.5 (chỉ gửi giá trị)\n        { payload: pm10 },  // Output 2: PM10 (chỉ gửi giá trị)\n        { payload: temp },  // Output 3: Temperature (chỉ gửi giá trị)\n        { payload: humidity },  // Output 4: Humidity (chỉ gửi giá trị)\n        { payload: chartData },  // Output 5: Dữ liệu cho chart (PM2.5, PM10)\n        { payload: gaugesData }  // Output 6: Gauges data\n    ];\n} else {\n    return null;  // Trả về null nếu thiếu một trong các giá trị cần thiết\n}\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "ead562f7e78cfd4a",
                "161e259ed606b31d",
                "2732a42cd4fb391f"
            ],
            [
                "128b233e760ecc24",
                "20951328f4aaf99e",
                "9ee948c4df90fa38"
            ],
            [
                "114fabc7adadf360"
            ],
            [
                "cf61fc4ad1801a2f"
            ],
            [],
            [
                "99fedf9f5f3bfe87"
            ]
        ]
    },
    {
        "id": "83aab99b8e08506d",
        "type": "ui_chart",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "group": "176a6dcb963246d5",
        "order": 6,
        "width": 16,
        "height": 8,
        "label": "PM chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#7f4606",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "735782d262f247c0",
        "type": "mqtt out",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "topic": "/23127354-23127388-23127435/led-buzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "25176735d677fbf6",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "Pull Data",
        "func": "// Function 1: Tạo API URL\nconst channelID = \"3030128\";\nconst readAPI = \"A2AAQJ1EF8O43YAP\";\nconst results = 20; // Số records muốn lấy (có thể thay đổi)\n\nmsg.url = `https://api.thingspeak.com/channels/${channelID}/feeds.json?api_key=${readAPI}&results=${results}`;\nmsg.method = \"GET\";\n\nreturn msg;\n\n// ===================================\n\n// Function 2: Format dữ liệu cho table\nconst feeds = msg.payload.feeds;\nlet tableData = [];\n\nfeeds.forEach(feed => {\n    const timestamp = new Date(feed.created_at);\n    // Format thời gian theo múi giờ Việt Nam\n    const timeString = timestamp.toLocaleTimeString('vi-VN', {\n        hour: '2-digit',\n        minute: '2-digit',\n        timeZone: 'Asia/Ho_Chi_Minh'\n    });\n    \n    // Kiểm tra và format từng field\n    const pm25 = feed.field1 ? parseFloat(feed.field1).toFixed(1) : \"-\";\n    const pm10 = feed.field2 ? parseFloat(feed.field2).toFixed(1) : \"-\";  \n    const humidity = feed.field3 ? parseFloat(feed.field3).toFixed(1) : \"-\";\n    const temperature = feed.field4 ? parseFloat(feed.field4).toFixed(1) : \"-\";\n    \n    tableData.push({\n        \"Time\": timeString,\n        \"PM2.5\": pm25,\n        \"PM10\": pm10,\n        \"Temperature\": temperature,\n        \"Humidity\": humidity\n    });\n});\n\n// Sắp xếp theo thời gian mới nhất trước (reverse)\ntableData.reverse();\n\nmsg.payload = tableData;\nreturn msg;\n\n// ===================================\n\n// Function 3: Auto refresh (cho inject node)\n// Trigger này để tự động lấy dữ liệu mỗi 5 phút\n// Chỉ cần set inject node với interval: 5 minutes\n// Hoặc dùng function này nếu muốn logic phức tạp hơn\n\nconst now = new Date();\nnode.warn(`Refreshing data at: ${now.toLocaleString('vi-VN')}`);\n\n// Gửi trigger để lấy dữ liệu mới\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 820,
        "wires": [
            [
                "6a9e6d1ffcdaab47"
            ]
        ]
    },
    {
        "id": "d5ac11d27f9002cd",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "Avg & Status",
        "func": "// Tính trung bình và đánh giá status\nif (!msg.payload || msg.payload.length === 0) {\n    msg.averages = {};\n    return msg;\n}\n\nconst data = msg.payload;\nlet pm25Sum = 0, pm10Sum = 0, tempSum = 0, humidSum = 0;\nlet count = data.length;\n\ndata.forEach(item => {\n    pm25Sum += parseFloat(item.PM25) || 0;\n    pm10Sum += parseFloat(item.PM10) || 0;\n    tempSum += parseFloat(item.Temperature) || 0;\n    humidSum += parseFloat(item.Humidity) || 0;\n});\n\nconst avgPM25 = (pm25Sum / count).toFixed(1);\nconst avgPM10 = (pm10Sum / count).toFixed(1);\nconst avgTemp = (tempSum / count).toFixed(1);\nconst avgHumid = (humidSum / count).toFixed(0);\n\n// Đánh giá status theo tiêu chuẩn WHO/EPA\nfunction getPM25Status(value) {\n    if (value <= 12) return \"Good\";\n    if (value <= 35.4) return \"Moderate\";\n    if (value <= 55.4) return \"Unhealthy for Sensitive\";\n    if (value <= 150.4) return \"Unhealthy\";\n    if (value <= 250.4) return \"Very Unhealthy\";\n    return \"Hazardous\";\n}\n\nfunction getPM10Status(value) {\n    if (value <= 54) return \"Good\";\n    if (value <= 154) return \"Moderate\";\n    if (value <= 254) return \"Unhealthy for Sensitive\";\n    if (value <= 354) return \"Unhealthy\";\n    if (value <= 424) return \"Very Unhealthy\";\n    return \"Hazardous\";\n}\n\nfunction getTempStatus(value) {\n    if (value >= 18 && value <= 27) return \"Comfortable\";\n    if ((value >= 15 && value < 18) || (value > 27 && value <= 32)) return \"Moderate\";\n    if ((value >= 10 && value < 15) || (value > 32 && value <= 38)) return \"Uncomfortable\";\n    return \"Extreme\";\n}\n\nfunction getHumidityStatus(value) {\n    if (value >= 40 && value <= 60) return \"Comfortable\";\n    if ((value >= 30 && value < 40) || (value > 60 && value <= 70)) return \"Moderate\";\n    if ((value >= 20 && value < 30) || (value > 70 && value <= 80)) return \"Uncomfortable\";\n    return \"Extreme\";\n}\n\nmsg.averages = {\n    pm25: { value: avgPM25, status: getPM25Status(parseFloat(avgPM25)) },\n    pm10: { value: avgPM10, status: getPM10Status(parseFloat(avgPM10)) },\n    temp: { value: avgTemp, status: getTempStatus(parseFloat(avgTemp)) },\n    humidity: { value: avgHumid, status: getHumidityStatus(parseInt(avgHumid)) }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1000,
        "wires": [
            [
                "647bd5e4ef48427d"
            ]
        ]
    },
    {
        "id": "647bd5e4ef48427d",
        "type": "ui_template",
        "z": "44f9ec8549dd6cd0",
        "group": "9dff1546fd297e8c",
        "name": "Avg4Field",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n\n<head>\n    <style>\n        .average-container {\n            padding: 20px;\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            border-radius: 15px;\n            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);\n            color: white;\n            max-width: 400px;\n            margin: 0 auto;\n        }\n\n        .title {\n            text-align: center;\n            font-size: 24px;\n            font-weight: bold;\n            margin-bottom: 25px;\n            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);\n        }\n\n        .metric-row {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-bottom: 20px;\n            padding: 15px 0;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.2);\n        }\n\n        .metric-row:last-child {\n            border-bottom: none;\n            margin-bottom: 0;\n        }\n\n        .metric-label {\n            font-size: 18px;\n            font-weight: 600;\n            color: white;\n            min-width: 80px;\n        }\n\n        .metric-value {\n            background: rgba(255, 255, 255, 0.9);\n            color: #2c3e50;\n            padding: 10px 15px;\n            border-radius: 8px;\n            font-weight: bold;\n            font-size: 16px;\n            min-width: 60px;\n            text-align: center;\n            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);\n        }\n\n        .metric-status {\n            padding: 8px 12px;\n            border-radius: 20px;\n            font-size: 14px;\n            font-weight: 600;\n            min-width: 100px;\n            text-align: center;\n            text-shadow: none;\n        }\n\n        .status-good {\n            background: #2ecc71;\n            color: white;\n        }\n\n        .status-moderate {\n            background: #f39c12;\n            color: white;\n        }\n\n        .status-unhealthy {\n            background: #e74c3c;\n            color: white;\n        }\n\n        .status-comfortable {\n            background: #2ecc71;\n            color: white;\n        }\n\n        .status-uncomfortable {\n            background: #e67e22;\n            color: white;\n        }\n\n        .status-extreme {\n            background: #8e44ad;\n            color: white;\n        }\n\n        .header-row {\n            display: flex;\n            justify-content: space-between;\n            margin-bottom: 20px;\n            padding-bottom: 10px;\n            border-bottom: 2px solid rgba(255, 255, 255, 0.3);\n        }\n\n        .header-item {\n            font-size: 16px;\n            font-weight: bold;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"average-container\">\n        <div class=\"title\">Environmental Status</div>\n\n        <div class=\"header-row\">\n            <div class=\"header-item\">Parameter</div>\n            <div class=\"header-item\">Average</div>\n            <div class=\"header-item\">Status</div>\n        </div>\n\n        <div class=\"metric-row\">\n            <div class=\"metric-label\">PM2.5</div>\n            <div class=\"metric-value\" id=\"pm25-value\">411.3</div>\n            <div class=\"metric-status status-unhealthy\" id=\"pm25-status\">Hazardous</div>\n        </div>\n\n        <div class=\"metric-row\">\n            <div class=\"metric-label\">PM10</div>\n            <div class=\"metric-value\" id=\"pm10-value\">244.3</div>\n            <div class=\"metric-status status-unhealthy\" id=\"pm10-status\">Unhealthy</div>\n        </div>\n\n        <div class=\"metric-row\">\n            <div class=\"metric-label\">Temp</div>\n            <div class=\"metric-value\" id=\"temp-value\">26.8</div>\n            <div class=\"metric-status status-comfortable\" id=\"temp-status\">Comfortable</div>\n        </div>\n\n        <div class=\"metric-row\">\n            <div class=\"metric-label\">Humidity</div>\n            <div class=\"metric-value\" id=\"humid-value\">82</div>\n            <div class=\"metric-status status-uncomfortable\" id=\"humid-status\">Uncomfortable</div>\n        </div>\n    </div>\n\n    <script>\n        function getStatusClass(status) {\n            switch(status.toLowerCase()) {\n                case 'good': return 'status-good';\n                case 'moderate': return 'status-moderate';\n                case 'unhealthy for sensitive':\n                case 'unhealthy': \n                case 'very unhealthy':\n                case 'hazardous': return 'status-unhealthy';\n                case 'comfortable': return 'status-comfortable';\n                case 'uncomfortable': return 'status-uncomfortable';\n                case 'extreme': return 'status-extreme';\n                default: return 'status-moderate';\n            }\n        }\n\n        // Sample data update function\n        function updateAverages(data) {\n            if (data && data.averages) {\n                const avg = data.averages;\n                \n                // Update values\n                document.getElementById('pm25-value').textContent = avg.pm25.value;\n                document.getElementById('pm10-value').textContent = avg.pm10.value;\n                document.getElementById('temp-value').textContent = avg.temp.value + '°C';\n                document.getElementById('humid-value').textContent = avg.humidity.value + '%';\n                \n                // Update statuses\n                const pm25Status = document.getElementById('pm25-status');\n                pm25Status.textContent = avg.pm25.status;\n                pm25Status.className = 'metric-status ' + getStatusClass(avg.pm25.status);\n                \n                const pm10Status = document.getElementById('pm10-status');\n                pm10Status.textContent = avg.pm10.status;\n                pm10Status.className = 'metric-status ' + getStatusClass(avg.pm10.status);\n                \n                const tempStatus = document.getElementById('temp-status');\n                tempStatus.textContent = avg.temp.status;\n                tempStatus.className = 'metric-status ' + getStatusClass(avg.temp.status);\n                \n                const humidStatus = document.getElementById('humid-status');\n                humidStatus.textContent = avg.humidity.status;\n                humidStatus.className = 'metric-status ' + getStatusClass(avg.humidity.status);\n            }\n        }\n\n        // Demo with sample averages\n        const sampleAverages = {\n            averages: {\n                pm25: { value: \"411.3\", status: \"Hazardous\" },\n                pm10: { value: \"244.3\", status: \"Unhealthy\" },\n                temp: { value: \"26.8\", status: \"Comfortable\" },\n                humidity: { value: \"82\", status: \"Uncomfortable\" }\n            }\n        };\n        \n        updateAverages(sampleAverages);\n    </script>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 900,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "900c33bd8785df2f",
        "type": "ui_template",
        "z": "44f9ec8549dd6cd0",
        "group": "176a6dcb963246d5",
        "name": "Display",
        "order": 8,
        "width": 5,
        "height": 5,
        "format": "<!-- Display Template -->\n<style>\n    .display-panel {\n        background-color: #E6F7FF;\n        padding: 15px;\n        border-radius: 8px;\n        width: 100%;\n        box-sizing: border-box;\n        overflow-x: hidden;\n        height: 300px;\n        display: flex;\n        flex-direction: column;\n    }\n\n    .display-panel h3 {\n        text-align: center;\n        margin-top: 0;\n        margin-bottom: 15px;\n        background: none;\n    }\n\n    .display-buttons {\n        display: flex;\n        flex-direction: column;\n        gap: 10px;\n        flex: 1;\n        justify-content: center;\n    }\n\n    .display-btn {\n        color: white;\n        padding: 12px;\n        border: none;\n        border-radius: 5px;\n        font-weight: bold;\n        width: 100%;\n        cursor: pointer;\n        transition: all 0.3s ease;\n        position: relative;\n        overflow: hidden;\n    }\n\n    .display-btn.dust {\n        background-color: #1AA6B7;\n    }\n\n    .display-btn.temp,\n    .display-btn.humidity {\n        background-color: #63C7B2;\n    }\n\n    .display-btn:hover {\n        transform: translateY(-2px);\n        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n    }\n\n    .display-btn:active {\n        transform: translateY(0);\n    }\n\n    .display-btn.selected {\n        background-color: #4D94FF !important;\n        box-shadow: 0 0 10px rgba(77, 148, 255, 0.5);\n    }\n\n    /* Ripple effect */\n    .display-btn::after {\n        content: '';\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        width: 0;\n        height: 0;\n        border-radius: 50%;\n        background: rgba(255, 255, 255, 0.3);\n        transform: translate(-50%, -50%);\n        transition: width 0.6s, height 0.6s;\n    }\n\n    .display-btn.ripple::after {\n        width: 300px;\n        height: 300px;\n    }\n</style>\n\n<div class=\"display-panel\">\n    <h3>Display</h3>\n    <div class=\"display-buttons\">\n        <button class=\"display-btn dust\"\n            ng-click=\"selectDisplay('dust')\"\n            ng-class=\"{'selected': msg.selectedDisplay == 'dust'}\">\n      Dust\n    </button>\n        <button class=\"display-btn temp\"\n            ng-click=\"selectDisplay('temp')\"\n            ng-class=\"{'selected': msg.selectedDisplay == 'temp'}\">\n      Temp\n    </button>\n        <button class=\"display-btn humidity\"\n            ng-click=\"selectDisplay('humid')\"\n            ng-class=\"{'selected': msg.selectedDisplay == 'humid'}\">\n      Humidity\n    </button>\n    </div>\n</div>\n\n<script>\n    // AngularJS controller cho Display\n  (function(scope) {\n    scope.selectedDisplay = null;\n    \n    scope.selectDisplay = function(type) {\n      // Xóa class selected từ tất cả buttons\n      setTimeout(() => {\n        document.querySelectorAll('.display-btn').forEach(btn => {\n          btn.classList.remove('selected', 'ripple');\n        });\n        \n        // Thêm class selected và ripple effect cho button được click\n        const clickedBtn = event.target;\n        clickedBtn.classList.add('selected', 'ripple');\n        \n        // Xóa ripple effect sau animation\n        setTimeout(() => {\n          clickedBtn.classList.remove('ripple');\n        }, 600);\n      }, 10);\n      \n      scope.selectedDisplay = type;\n      \n      // Gửi payload đến Node-RED\n      scope.send({\n        payload: type,\n        selectedDisplay: type\n      });\n    };\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "95c87862e5f44601"
            ]
        ]
    },
    {
        "id": "1bd9979aecfb2758",
        "type": "ui_template",
        "z": "44f9ec8549dd6cd0",
        "group": "176a6dcb963246d5",
        "name": "Sound & Light",
        "order": 9,
        "width": 5,
        "height": 5,
        "format": "<!-- Sound & Light Template -->\n<style>\n    .sound-light-panel {\n        background-color: #E6F7FF;\n        padding: 15px;\n        border-radius: 8px;\n        width: 100%;\n        box-sizing: border-box;\n        overflow-x: hidden;\n        height: 300px;\n        display: flex;\n        flex-direction: column;\n    }\n\n    .sound-light-panel h3 {\n        text-align: center;\n        margin-top: 0;\n        margin-bottom: 15px;\n        background: none;\n    }\n\n    .sound-light-content {\n        display: grid;\n        grid-template-columns: 1fr auto;\n        gap: 15px;\n        align-items: center;\n        flex: 1;\n        align-content: center;\n    }\n\n    .sound-light-content span {\n        font-weight: bold;\n        font-size: 16px;\n    }\n\n    .toggle-btn {\n        background-color: #6ED6E1;\n        border: none;\n        padding: 8px 15px;\n        border-radius: 5px;\n        font-weight: bold;\n        width: 70px;\n        cursor: pointer;\n        transition: all 0.3s ease;\n        position: relative;\n        overflow: hidden;\n    }\n\n    .toggle-btn:hover {\n        transform: scale(1.05);\n    }\n\n    .toggle-btn.on {\n        background-color: #4CAF50 !important;\n        color: white;\n        box-shadow: 0 0 10px rgba(76, 175, 80, 0.4);\n    }\n\n    .toggle-btn.off {\n        background-color: #f44336 !important;\n        color: white;\n    }\n\n    /* Animation cho toggle */\n    .toggle-btn::before {\n        content: '';\n        position: absolute;\n        top: 0;\n        left: -100%;\n        width: 100%;\n        height: 100%;\n        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);\n        transition: left 0.5s;\n    }\n\n    .toggle-btn.animate::before {\n        left: 100%;\n    }\n</style>\n\n<div class=\"sound-light-panel\">\n    <h3>Sounds & Light</h3>\n    <div class=\"sound-light-content\">\n        <span>LED</span>\n        <button class=\"toggle-btn\"\n            ng-click=\"toggleLED()\"\n            ng-class=\"{'on': msg.ledState == 'ON', 'off': msg.ledState != 'ON'}\">\n      {{msg.ledState || 'OFF'}}\n    </button>\n        <span>BUZZER</span>\n        <button class=\"toggle-btn\"\n            ng-click=\"toggleBuzzer()\"\n            ng-class=\"{'on': msg.buzzerState == 'ON', 'off': msg.buzzerState != 'ON'}\">\n      {{msg.buzzerState || 'OFF'}}\n    </button>\n    </div>\n</div>\n\n<script>\n    // AngularJS controller cho Sound & Light\n  (function(scope) {\n    scope.ledState = 'OFF';\n    scope.buzzerState = 'OFF';\n    \n    scope.toggleLED = function() {\n      const btn = event.target;\n      btn.classList.add('animate');\n      \n      setTimeout(() => {\n        scope.ledState = scope.ledState === 'ON' ? 'OFF' : 'ON';\n        scope.$apply(); // Cập nhật view\n        btn.classList.remove('animate');\n      }, 250);\n      \n      // Gửi payload đến Node-RED\n      setTimeout(() => {\n        scope.send({\n          payload: 'led_toggle',\n          ledState: scope.ledState\n        });\n      }, 300);\n    };\n    \n    scope.toggleBuzzer = function() {\n      const btn = event.target;\n      btn.classList.add('animate');\n      \n      setTimeout(() => {\n        scope.buzzerState = scope.buzzerState === 'ON' ? 'OFF' : 'ON';\n        scope.$apply(); // Cập nhật view\n        btn.classList.remove('animate');\n      }, 250);\n      \n      // Gửi payload đến Node-RED\n      setTimeout(() => {\n        scope.send({\n          payload: 'buzzer_toggle',\n          buzzerState: scope.buzzerState\n        });\n      }, 300);\n    };\n    \n    // Lắng nghe tin nhắn từ Node-RED để cập nhật trạng thái\n    scope.$watch('msg', function(newMsg) {\n      if (newMsg) {\n        if (newMsg.ledState !== undefined) {\n          scope.ledState = newMsg.ledState;\n        }\n        if (newMsg.buzzerState !== undefined) {\n          scope.buzzerState = newMsg.buzzerState;\n        }\n      }\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "37e81acb91ec53b2"
            ]
        ]
    },
    {
        "id": "37e81acb91ec53b2",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "handleControlToggle",
        "func": "if (msg.payload === 'led_toggle') {\n    let state = flow.get(\"led_state\") || \"OFF\";\n    if (state === \"OFF\") {\n        state = \"ON\";\n        msg.payload = \"LED_ON\";\n    } else {\n        state = \"OFF\";\n        msg.payload = \"LED_OFF\";\n    }\n    flow.set(\"led_state\", state);\n    msg.ledState = state;\n    msg.topic = \"/23127354-23127388-23127435/led-buzzer\";\n}\nelse if (msg.payload === 'buzzer_toggle') {\n    let state = flow.get(\"buzzer_state\") || \"OFF\";\n    if (state === \"OFF\") {\n        state = \"ON\";\n        msg.payload = \"BUZZER_ON\";\n    } else {\n        state = \"OFF\";\n        msg.payload = \"BUZZER_OFF\";\n    }\n    flow.set(\"buzzer_state\", state);\n    msg.buzzerState = state;\n    msg.topic = \"/23127354-23127388-23127435/led-buzzer\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "735782d262f247c0"
            ]
        ]
    },
    {
        "id": "1d8a4357c4e55e0f",
        "type": "mqtt out",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "topic": "/23127354-23127388-23127435/screen",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "ecf1817639760998",
        "type": "mqtt in",
        "z": "44f9ec8549dd6cd0",
        "name": "pm10",
        "topic": "/23127354-23127388-23127435/pm10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "6ef572be12b90f31"
            ]
        ]
    },
    {
        "id": "a7e8a6f754323184",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "alert_noti",
        "func": "// Đảm bảo có label và payload là số\nlet label = msg.label;\nlet value = msg.payload;\n\nif (!label || typeof value !== \"number\") {\n    msg.payload = {\n        alert: \"sai label\",\n    };\n    return msg;  // Bỏ qua nếu không hợp lệ\n}\n\n// Lưu giá trị vào flow context\nflow.set(label, value);\n\n// Lấy lại giá trị từ bộ nhớ\nlet pm25 = flow.get(\"PM2_5\");\nlet pm10 = flow.get(\"PM10\");\n\n// Chỉ xử lý khi đã có đủ cả hai\nif (pm25 === undefined || pm10 === undefined) {\n    msg.payload = {\n        alert: \"Chua du hai du lieu\",\n        PM2_5: pm25,\n        PM10: pm10,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n}\n\n// Kiểm tra trạng thái cảnh báo\nlet isAlert = (pm25 > 35.4 || pm10 > 154);\nlet wasAlert = flow.get(\"alert_state\") || false;\n\nif (isAlert && !wasAlert) {\n    flow.set(\"alert_state\", true);\n    msg.payload = \"ALERT\";\n    return msg;\n} else if (!isAlert && wasAlert) {\n    flow.set(\"alert_state\", false);\n    msg.payload = {\n        alert: \"SAFE\",\n        PM2_5: pm25,\n        PM10: pm10,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n}\n\n// Không thay đổi trạng thái → không gửi gì\nmsg.payload = {\n    alert: \"no change state\",\n    PM2_5: pm25,\n    PM10: pm10,\n    timestamp: new Date().toISOString()\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 80,
        "wires": [
            [
                "463c2a4805e8558a",
                "e019e163822b0e2f"
            ]
        ]
    },
    {
        "id": "bc2ba3b6d9e04c4d",
        "type": "mqtt out",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "topic": "/23127354-23127388-23127435/alert",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 1410,
        "y": 120,
        "wires": []
    },
    {
        "id": "463c2a4805e8558a",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "161e259ed606b31d",
        "type": "delay",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 820,
        "y": 80,
        "wires": [
            [
                "a4c63d27551f2d07"
            ]
        ]
    },
    {
        "id": "20951328f4aaf99e",
        "type": "delay",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "a7480709ef7daefa"
            ]
        ]
    },
    {
        "id": "e019e163822b0e2f",
        "type": "switch",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALERT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "bc2ba3b6d9e04c4d",
                "e256282f093959a6"
            ]
        ]
    },
    {
        "id": "a4c63d27551f2d07",
        "type": "change",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "\"PM2_5\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 40,
        "wires": [
            [
                "a7e8a6f754323184"
            ]
        ]
    },
    {
        "id": "a7480709ef7daefa",
        "type": "change",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "\"PM10\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 180,
        "wires": [
            [
                "a7e8a6f754323184"
            ]
        ]
    },
    {
        "id": "4417533a5fbc673b",
        "type": "http request",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=hIFTbiwdL2VJfWmVBa0C&m={{payload}}&t=CẢNH BÁO CHẤT LƯỢNG KHÔNG KHÍ NGUY HIỂM&s=1&v=1&p=2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1470,
        "y": 240,
        "wires": [
            [
                "57d078ea5821554b"
            ]
        ]
    },
    {
        "id": "e256282f093959a6",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "function 2",
        "func": "// Lấy giá trị PM2_5 và PM10 từ flow context\nlet pm25 = flow.get(\"PM2_5\");\nlet pm10 = flow.get(\"PM10\");\n\n\n// Chuẩn bị payload chỉ chứa dữ liệu\nmsg.payload = `PM2.5: ${pm25 || 0} µgm, PM10: ${pm10 || 0} µgm`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 260,
        "wires": [
            [
                "4417533a5fbc673b"
            ]
        ]
    },
    {
        "id": "57d078ea5821554b",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 320,
        "wires": []
    },
    {
        "id": "95c87862e5f44601",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "handleDisplayClick",
        "func": "// msg.payload sẽ là 'dust', 'temp' hoặc 'humid' từ template Display\nmsg.topic = \"/23127354-23127388-23127435/screen\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "1d8a4357c4e55e0f"
            ]
        ]
    },
    {
        "id": "53eae1a3e881dc0c",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "2732a42cd4fb391f",
        "type": "change",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"field1\": payload}",
                "tot": "jsonata",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "775501084a4add1a",
                "251f3bcbda2eb3d8"
            ]
        ]
    },
    {
        "id": "9ee948c4df90fa38",
        "type": "change",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"field2\": payload}",
                "tot": "jsonata",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "775501084a4add1a"
            ]
        ]
    },
    {
        "id": "114fabc7adadf360",
        "type": "change",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"field3\": payload}",
                "tot": "jsonata",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "775501084a4add1a"
            ]
        ]
    },
    {
        "id": "cf61fc4ad1801a2f",
        "type": "change",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"field4\": payload}",
                "tot": "jsonata",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 420,
        "wires": [
            [
                "775501084a4add1a"
            ]
        ]
    },
    {
        "id": "775501084a4add1a",
        "type": "join",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "5",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 340,
        "wires": [
            [
                "53eae1a3e881dc0c",
                "83123354d96fad22"
            ]
        ]
    },
    {
        "id": "83123354d96fad22",
        "type": "http request",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=WXCJIZN3BFGAPQ1L&field1={{payload.field1}}&field2={{payload.field2}}&field3={{payload.field3}}&field4={{payload.field4}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3252bd16c9258e72",
        "type": "inject",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 970,
        "y": 400,
        "wires": [
            [
                "0434c3f23a1d37b6"
            ]
        ]
    },
    {
        "id": "0434c3f23a1d37b6",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "251f3bcbda2eb3d8",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "5540029422774b19",
        "type": "inject",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "9c4b3d65b377de05"
            ]
        ]
    },
    {
        "id": "a6d2e7f44cb2ec20",
        "type": "json",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "0813cd42da4b673f",
                "9b2f53fd8a4295d9",
                "32ed8ffbd2c0c3e6"
            ]
        ]
    },
    {
        "id": "9c4b3d65b377de05",
        "type": "http request",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/3030128/feeds.json?api_key=A2AAQJ1EF8O43YAP&results=1000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 640,
        "wires": [
            [
                "a6d2e7f44cb2ec20"
            ]
        ]
    },
    {
        "id": "0813cd42da4b673f",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "9b2f53fd8a4295d9",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "line chart",
        "func": "const feeds = msg.payload.feeds;\n\nlet messages = [];\n\nfeeds.forEach(feed => {\n    const timestamp = new Date(feed.created_at).getTime();\n\n    if (feed.field1 !== null && feed.field1 !== undefined && feed.field1 !== \"\") {\n        messages.push({\n            payload: parseFloat(feed.field1),\n            topic: \"PM2.5\",\n            timestamp: timestamp\n        });\n    }\n\n    if (feed.field2 !== null && feed.field2 !== undefined && feed.field2 !== \"\") {\n        messages.push({\n            payload: parseFloat(feed.field2),\n            topic: \"PM10\",\n            timestamp: timestamp\n        });\n    }\n});\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 640,
        "wires": [
            [
                "83aab99b8e08506d"
            ]
        ]
    },
    {
        "id": "32ed8ffbd2c0c3e6",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "avg",
        "func": "// Lấy dữ liệu feeds từ ThingSpeak\nconst feeds = msg.payload.feeds;\n\n// Kiểm tra dữ liệu đầu vào\nif (!feeds || !Array.isArray(feeds)) {\n    node.error(\"Không có dữ liệu feeds hợp lệ\");\n    return null;\n}\n\nlet pm25Values = [];\nlet pm10Values = [];\n\n// Thu thập tất cả giá trị hợp lệ\nfeeds.forEach(feed => {\n    // Thu thập PM2.5 values\n    if (feed.field1 !== null && feed.field1 !== undefined && feed.field1 !== \"\") {\n        const pm25 = parseFloat(feed.field1);\n        if (!isNaN(pm25)) {\n            pm25Values.push(pm25);\n        }\n    }\n    \n    // Thu thập PM10 values  \n    if (feed.field2 !== null && feed.field2 !== undefined && feed.field2 !== \"\") {\n        const pm10 = parseFloat(feed.field2);\n        if (!isNaN(pm10)) {\n            pm10Values.push(pm10);\n        }\n    }\n});\n\n// Tính trung bình\nlet pm25Avg = 0;\nlet pm10Avg = 0;\n\nif (pm25Values.length > 0) {\n    pm25Avg = pm25Values.reduce((sum, val) => sum + val, 0) / pm25Values.length;\n}\n\nif (pm10Values.length > 0) {\n    pm10Avg = pm10Values.reduce((sum, val) => sum + val, 0) / pm10Values.length;\n}\n\n// Làm tròn đến 1 chữ số thập phân\npm25Avg = Math.round(pm25Avg * 10) / 10;\npm10Avg = Math.round(pm10Avg * 10) / 10;\n\n// Log kết quả\nnode.warn(`PM2.5 Average: ${pm25Avg} μg/m³ (từ ${pm25Values.length} samples)`);\nnode.warn(`PM10 Average: ${pm10Avg} μg/m³ (từ ${pm10Values.length} samples)`);\n\n// Tạo payload cho Template node (chỉ 1 output)\nmsg.payload = {\n    pm25_avg: pm25Avg,\n    pm10_avg: pm10Avg,\n    pm25_count: pm25Values.length,\n    pm10_count: pm10Values.length\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 720,
        "wires": [
            [
                "626729eb8731508b"
            ]
        ]
    },
    {
        "id": "626729eb8731508b",
        "type": "ui_template",
        "z": "44f9ec8549dd6cd0",
        "group": "176a6dcb963246d5",
        "name": "PM Avg",
        "order": 7,
        "width": 10,
        "height": 4,
        "format": "<div\n    style=\"background-color: #e2e8f0; padding: 20px; border-radius: 12px; text-align: left; font-family: Arial, sans-serif; width: 100%; margin: 0; box-sizing: border-box;\">\n    <h2 style=\"margin: 0 0 25px 0; font-size: 22px; font-weight: bold; text-align: center; color: #1a202c;\">Average</h2>\n\n    <div style=\"margin-bottom: 20px;\">\n        <div style=\"display: flex; align-items: center; justify-content: space-between;\">\n            <span style=\"font-size: 18px; font-weight: bold; color: #2d3748;\">PM2.5</span>\n            <div\n                style=\"background-color: #81e6d9; color: #1a202c; padding: 12px 24px; border-radius: 8px; font-size: 16px; font-weight: bold; min-width: 60px; text-align: center;\">\n                {{msg.payload.pm25_avg}}\n            </div>\n        </div>\n    </div>\n\n    <div>\n        <div style=\"display: flex; align-items: center; justify-content: space-between;\">\n            <span style=\"font-size: 18px; font-weight: bold; color: #2d3748;\">PM10</span>\n            <div\n                style=\"background-color: #81e6d9; color: #1a202c; padding: 12px 24px; border-radius: 8px; font-size: 16px; font-weight: bold; min-width: 60px; text-align: center;\">\n                {{msg.payload.pm10_avg}}\n            </div>\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "99fedf9f5f3bfe87",
        "type": "ui_template",
        "z": "44f9ec8549dd6cd0",
        "group": "176a6dcb963246d5",
        "name": "temp/humid",
        "order": 5,
        "width": 10,
        "height": 4,
        "format": "<!-- Template cho Node-RED Template node -->\n<style>\n    .sensor-container {\n        display: flex;\n        flex-direction: column;\n        gap: 15px;\n        font-family: Arial, sans-serif;\n        padding: 10px;\n    }\n\n    .sensor-card {\n        background-color: #e3f2fd;\n        border-radius: 12px;\n        padding: 20px;\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        min-width: 200px;\n        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n    }\n\n    .sensor-value {\n        font-size: 32px;\n        font-weight: bold;\n        color: #1a1a1a;\n    }\n\n    .sensor-icon {\n        font-size: 28px;\n        color: #333;\n    }\n\n    /* Icon styles sử dụng Unicode symbols */\n    .humidity-icon::before {\n        content: \"💧\";\n    }\n\n    .temperature-icon::before {\n        content: \"🌡️\";\n    }\n</style>\n\n<div class=\"sensor-container\">\n    <!-- Độ ẩm -->\n    <div class=\"sensor-card\">\n        <span class=\"sensor-value\">{{msg.payload.Humidity}}%</span>\n        <span class=\"sensor-icon humidity-icon\"></span>\n    </div>\n\n    <!-- Nhiệt độ -->\n    <div class=\"sensor-card\">\n        <span class=\"sensor-value\">{{msg.payload.Temperature}}°C</span>\n        <span class=\"sensor-icon temperature-icon\"></span>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fae3a0c2344394f0",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "Save Original Password",
        "func": "var username = msg.payload.username;\nmsg.original_password = msg.payload.password; // Lưu pass gốc để so sánh\nmsg.method = \"GET\";\nmsg.url = \"https://iot-user-4e30c-default-rtdb.asia-southeast1.firebasedatabase.app/users/\" + username + \".json\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1080,
        "wires": [
            [
                "4909bf9a676b36a1",
                "abef85674b4ffc62"
            ]
        ]
    },
    {
        "id": "4909bf9a676b36a1",
        "type": "http request",
        "z": "44f9ec8549dd6cd0",
        "name": "Get User Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 1080,
        "wires": [
            [
                "121bf687b59f8444",
                "d72901a5bc88a040"
            ]
        ]
    },
    {
        "id": "121bf687b59f8444",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "Check Password",
        "func": "if (!msg.payload) {\n    msg.payload = { status: \"Log:   ❌ User not found\", loggedIn: false };\n    context.set(\"loggedIn\", false);\n    return [null, msg];\n}\n\nif (msg.payload.password === msg.original_password) {\n    msg.payload = { status: \"✅ Login successful\", loggedIn: true };\n    context.set(\"loggedIn\", true);\n    return [msg, null];\n} else {\n    msg.payload = { status: \"Log:   ❌ Wrong password\", loggedIn: false };\n    context.set(\"loggedIn\", false);\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1080,
        "wires": [
            [
                "d8385aac97153200",
                "097f807467e75b4d"
            ],
            [
                "bedc50b76d12e681",
                "56d262416d18aaae"
            ]
        ]
    },
    {
        "id": "d8385aac97153200",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "Login OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bedc50b76d12e681",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "Login Fail",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1100,
        "wires": []
    },
    {
        "id": "abef85674b4ffc62",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d72901a5bc88a040",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4060ea9c5b87d1b9",
        "type": "ui_form",
        "z": "44f9ec8549dd6cd0",
        "name": "Login Form",
        "label": "",
        "group": "b35559caedba2363",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 120,
        "y": 1140,
        "wires": [
            [
                "fae3a0c2344394f0",
                "b8b4e8dba278ef38"
            ]
        ]
    },
    {
        "id": "b8b4e8dba278ef38",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1140,
        "wires": []
    },
    {
        "id": "097f807467e75b4d",
        "type": "switch",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "property": "msg.payload.loggedIn",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 1220,
        "wires": [
            [
                "c2e704a485b72fca"
            ],
            [
                "4060ea9c5b87d1b9"
            ]
        ]
    },
    {
        "id": "c99a8c838a1ab2c1",
        "type": "ui_ui_control",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "events": "all",
        "x": 1280,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "c2e704a485b72fca",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "function 5",
        "func": "msg.payload = { tab: \"Home\", enabled: true }; // Thay \"Home\" bằng tab bạn muốn hiển thị\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1160,
        "wires": [
            [
                "c99a8c838a1ab2c1"
            ]
        ]
    },
    {
        "id": "56d262416d18aaae",
        "type": "ui_text",
        "z": "44f9ec8549dd6cd0",
        "group": "b35559caedba2363",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 940,
        "wires": []
    },
    {
        "id": "98359d013a157c96",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "formatTable",
        "func": "if (!msg.payload || !msg.payload.feeds) {\n    msg.payload = [];\n    return msg;\n}\n\nconst feeds = msg.payload.feeds;\nlet tableData = [];\n\nfeeds.forEach(feed => {\n    const timestamp = new Date(feed.created_at);\n    const timeString = timestamp.toLocaleString('vi-VN', {\n        day: '2-digit',\n        month: '2-digit', \n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        timeZone: 'Asia/Ho_Chi_Minh'\n    });\n\n    tableData.push({\n        \"Time\": timeString,\n        \"PM25\": feed.field1,  // Thay đổi key thành \"PM25\"\n        \"PM10\": feed.field2,\n        \"Temperature\": feed.field3,\n        \"Humidity\": feed.field4\n    });\n});\n\ntableData.reverse();\nmsg.payload = tableData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 820,
        "wires": [
            [
                "b45547cb7567bc40",
                "a65049a9c8577979",
                "d5ac11d27f9002cd"
            ]
        ]
    },
    {
        "id": "6481e8cc2b861030",
        "type": "inject",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "25176735d677fbf6"
            ]
        ]
    },
    {
        "id": "8a976667e154bea1",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 880,
        "wires": []
    },
    {
        "id": "6a9e6d1ffcdaab47",
        "type": "http request",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{url}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 820,
        "wires": [
            [
                "98359d013a157c96",
                "8a976667e154bea1"
            ]
        ]
    },
    {
        "id": "b45547cb7567bc40",
        "type": "ui_table",
        "z": "44f9ec8549dd6cd0",
        "group": "9dff1546fd297e8c",
        "name": "",
        "order": 1,
        "width": 13,
        "height": 7,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 820,
        "wires": []
    },
    {
        "id": "a65049a9c8577979",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 880,
        "wires": []
    },
    {
        "id": "10dab6a4929169d3",
        "type": "ui_template",
        "z": "44f9ec8549dd6cd0",
        "group": "9dff1546fd297e8c",
        "name": "tableData",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        .air-quality-container {\n            padding: 20px;\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);\n            min-height: 100vh;\n        }\n        \n        .table-title {\n            text-align: center;\n            color: #2c3e50;\n            font-size: 24px;\n            margin-bottom: 20px;\n            text-shadow: 1px 1px 2px rgba(0,0,0,0.1);\n        }\n        \n        .data-table {\n            width: 100%;\n            border-collapse: collapse;\n            background: white;\n            border-radius: 12px;\n            overflow: hidden;\n            box-shadow: 0 10px 30px rgba(0,0,0,0.1);\n            margin: 0 auto;\n        }\n        \n        .data-table thead {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n        }\n        \n        .data-table th {\n            padding: 15px 12px;\n            text-align: center;\n            font-weight: 600;\n            font-size: 14px;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n        \n        .data-table td {\n            padding: 12px;\n            text-align: center;\n            border-bottom: 1px solid #e9ecef;\n            font-size: 13px;\n            transition: background-color 0.2s ease;\n        }\n        \n        .data-table tr:nth-child(even) {\n            background-color: #f8f9fa;\n        }\n        \n        .data-table tr:hover {\n            background-color: #e3f2fd;\n            transform: scale(1.01);\n        }\n        \n        .pm25-value {\n            font-weight: bold;\n            color: #e74c3c;\n            padding: 6px 10px;\n            background: rgba(231, 76, 60, 0.1);\n            border-radius: 6px;\n        }\n        \n        .pm10-value {\n            font-weight: bold;\n            color: #e67e22;\n            padding: 6px 10px;\n            background: rgba(230, 126, 34, 0.1);\n            border-radius: 6px;\n        }\n        \n        .temp-value {\n            color: #3498db;\n            font-weight: 500;\n        }\n        \n        .humidity-value {\n            color: #27ae60;\n            font-weight: 500;\n        }\n        \n        .time-value {\n            color: #34495e;\n            font-weight: 500;\n            font-size: 12px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"air-quality-container\">\n        <h2 class=\"table-title\">Air Quality Monitoring Data</h2>\n        <table class=\"data-table\">\n            <thead>\n                <tr>\n                    <th>Time</th>\n                    <th>PM2.5 (μg/m³)</th>\n                    <th>PM10 (μg/m³)</th>\n                    <th>Temperature (°C)</th>\n                    <th>Humidity (%)</th>\n                </tr>\n            </thead>\n            <tbody id=\"data-body\">\n                <!-- Data sẽ được thêm bằng JavaScript -->\n            </tbody>\n        </table>\n    </div>\n\n    <script>\n        // Sample data - trong Node-RED sẽ được thay thế bằng msg.payload\n        const sampleData = [\n            {\"Time\":\"21:01 08/08/2025\",\"PM25\":\"411.3\",\"PM10\":\"244.3\",\"Temperature\":\"80\",\"Humidity\":\"100\"},\n            {\"Time\":\"20:55 08/08/2025\",\"PM25\":\"411.3\",\"PM10\":\"244.3\",\"Temperature\":\"80\",\"Humidity\":\"100\"},\n            {\"Time\":\"20:55 08/08/2025\",\"PM25\":\"411.3\",\"PM10\":\"244.3\",\"Temperature\":\"54.6\",\"Humidity\":\"100\"},\n            {\"Time\":\"20:54 08/08/2025\",\"PM25\":\"411.3\",\"PM10\":\"244.3\",\"Temperature\":\"54.6\",\"Humidity\":\"100\"},\n            {\"Time\":\"20:54 08/08/2025\",\"PM25\":\"411.3\",\"PM10\":\"244.3\",\"Temperature\":\"80\",\"Humidity\":\"100\"},\n            {\"Time\":\"19:35 08/08/2025\",\"PM25\":\"55.7\",\"PM10\":\"46.8\",\"Temperature\":\"23.6\",\"Humidity\":\"63\"},\n            {\"Time\":\"19:34 08/08/2025\",\"PM25\":\"55.7\",\"PM10\":\"46.8\",\"Temperature\":\"23.6\",\"Humidity\":\"63\"}\n        ];\n\n        function updateTable(data) {\n            const tbody = document.getElementById('data-body');\n            tbody.innerHTML = '';\n            \n            data.forEach(row => {\n                const tr = document.createElement('tr');\n                tr.innerHTML = `\n                    <td class=\"time-value\">${row.Time}</td>\n                    <td><span class=\"pm25-value\">${row.PM25}</span></td>\n                    <td><span class=\"pm10-value\">${row.PM10}</span></td>\n                    <td class=\"temp-value\">${row.Temperature}°C</td>\n                    <td class=\"humidity-value\">${row.Humidity}%</td>\n                `;\n                tbody.appendChild(tr);\n            });\n        }\n\n        // Load data\n        updateTable(sampleData);\n    </script>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 940,
        "wires": [
            []
        ]
    }
]