flows.json
[
    {
        "id": "44f9ec8549dd6cd0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4f2654eb37bf1b3",
        "type": "mqtt-broker",
        "name": "http",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3b9e5927881a6d45",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f2637ddf31cbc5c",
        "type": "ui_tab",
        "name": "Logs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "176a6dcb963246d5",
        "type": "ui_group",
        "name": "Main",
        "tab": "3b9e5927881a6d45",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9dff1546fd297e8c",
        "type": "ui_group",
        "name": "Main",
        "tab": "9f2637ddf31cbc5c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1690073546694338",
        "type": "ui_spacer",
        "z": "44f9ec8549dd6cd0",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "2fe44acf92d9ad9a",
        "type": "ui_spacer",
        "z": "44f9ec8549dd6cd0",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "9d8fcce682b307ea",
        "type": "ui_spacer",
        "z": "44f9ec8549dd6cd0",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "0c72f37b8c7e7f80",
        "type": "ui_spacer",
        "z": "44f9ec8549dd6cd0",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "6e0d514f61db1bda",
        "type": "ui_spacer",
        "z": "44f9ec8549dd6cd0",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 9,
        "width": 10,
        "height": 1
    },
    {
        "id": "3aaac727686d697a",
        "type": "ui_spacer",
        "z": "44f9ec8549dd6cd0",
        "name": "spacer",
        "group": "176a6dcb963246d5",
        "order": 11,
        "width": 10,
        "height": 1
    },
    {
        "id": "660f53445c36d215",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ead562f7e78cfd4a",
        "type": "ui_gauge",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "group": "176a6dcb963246d5",
        "order": 1,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "PM2.5",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "504",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "128b233e760ecc24",
        "type": "ui_gauge",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "group": "176a6dcb963246d5",
        "order": 2,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "PM10",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500.4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "3c9ac084f74ed2e0",
        "type": "mqtt in",
        "z": "44f9ec8549dd6cd0",
        "name": "humid",
        "topic": "/23127354-23127388-23127435/humid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "6ef572be12b90f31",
                "6c3df6288f4d1cc3"
            ]
        ]
    },
    {
        "id": "cdce23d8cfd92eef",
        "type": "mqtt in",
        "z": "44f9ec8549dd6cd0",
        "name": "temp",
        "topic": "/23127354-23127388-23127435/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "6ef572be12b90f31",
                "b4b759bf43ef4fbc"
            ]
        ]
    },
    {
        "id": "4f62ebb09931dcf6",
        "type": "mqtt in",
        "z": "44f9ec8549dd6cd0",
        "name": "pm25",
        "topic": "/23127354-23127388-23127435/pm25",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "6ef572be12b90f31",
                "9f818caafc037d6d"
            ]
        ]
    },
    {
        "id": "6ef572be12b90f31",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "Combine sensors",
        "func": "let type;\nlet value = parseFloat(msg.payload);\n\n// Xác định loại dữ liệu từ topic\nif (msg.topic.includes(\"humid\")) {\n    type = \"Humidity\";\n} else if (msg.topic.includes(\"temp\")) {\n    type = \"Temperature\";\n} else if (msg.topic.includes(\"pm25\")) {\n    type = \"PM2_5\";  // Sửa lại PM2.5\n} else if (msg.topic.includes(\"pm10\")) {\n    type = \"PM10\";\n} else {\n    type = \"Unknown\"; // Kiểm tra nếu topic không xác định\n}\n\n// Lưu giá trị vào flow context theo từng loại\nflow.set(type, value);\n\n// Lấy giá trị hiện có từ flow context\nlet humidity = flow.get(\"Humidity\");\nlet temp = flow.get(\"Temperature\");\nlet pm25 = flow.get(\"PM2_5\");\nlet pm10 = flow.get(\"PM10\");\n\n// Chỉ gửi dữ liệu khi đủ cả 4 giá trị\nif (humidity !== undefined && temp !== undefined && pm25 !== undefined && pm10 !== undefined) {\n    // Định dạng dữ liệu cho chart\n    let pmData = [\n        { x: new Date().toISOString(), y: pm25 },\n        { x: new Date().toISOString(), y: pm10 }\n    ];\n\n    let chartData = {\n        series: [\"PM2.5\", \"PM10\"],\n        data: [pmData[0], pmData[1]],\n        labels: [new Date().toISOString()]\n    };\n\n    // Dữ liệu cho các gauge\n    let gaugesData = {\n        PM2_5: pm25,\n        PM10: pm10,\n        Temperature: temp,\n        Humidity: humidity\n    };\n\n    // Trả lại dữ liệu dưới định dạng cho từng output\n    return [\n        { payload: pm25 },  // Output 1: PM2.5 (chỉ gửi giá trị)\n        { payload: pm10 },  // Output 2: PM10 (chỉ gửi giá trị)\n        { payload: temp },  // Output 3: Temperature (chỉ gửi giá trị)\n        { payload: humidity },  // Output 4: Humidity (chỉ gửi giá trị)\n        { payload: chartData },  // Output 5: Dữ liệu cho chart (PM2.5, PM10)\n        { payload: gaugesData }  // Output 6: Gauges data\n    ];\n} else {\n    return null;  // Trả về null nếu thiếu một trong các giá trị cần thiết\n}\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "ead562f7e78cfd4a",
                "0bcea6bc537f889f",
                "161e259ed606b31d"
            ],
            [
                "128b233e760ecc24",
                "20951328f4aaf99e"
            ],
            [
                "3b0fc91ea32222da"
            ],
            [
                "aa715177ac04340b"
            ],
            [
                "02b781758b6756e4"
            ],
            [
                "cc7f0ab95e70bd55"
            ]
        ]
    },
    {
        "id": "3b0fc91ea32222da",
        "type": "ui_text",
        "z": "44f9ec8549dd6cd0",
        "group": "176a6dcb963246d5",
        "order": 5,
        "width": 4,
        "height": 4,
        "name": "",
        "label": "Nhiệt độ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "aa715177ac04340b",
        "type": "ui_text",
        "z": "44f9ec8549dd6cd0",
        "group": "176a6dcb963246d5",
        "order": 4,
        "width": 4,
        "height": 4,
        "name": "",
        "label": "Độ ẩm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "83aab99b8e08506d",
        "type": "ui_chart",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "group": "176a6dcb963246d5",
        "order": 10,
        "width": 16,
        "height": 8,
        "label": "PM chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "02b781758b6756e4",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "linear chart",
        "func": "msg.payload = [\n  { series: [\"PM2.5\", \"PM10\"],\n    data: [\n      [{ x: msg.payload.created_at, y: msg.payload.PM2_5 }],\n      [{ x: msg.payload.created_at, y: msg.payload.PM10 }]\n    ],\n    labels: []\n  }\n];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 320,
        "wires": [
            [
                "83aab99b8e08506d"
            ]
        ]
    },
    {
        "id": "cc7f0ab95e70bd55",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "avg",
        "func": "let data = flow.get(\"data\") || [];\ndata.push(msg.payload);\nif (data.length > 50) data.shift();\n\nlet avgPM25 = data.reduce((a,b) => a+b.PM2_5, 0) / data.length;\nlet avgPM10 = data.reduce((a,b) => a+b.PM10, 0) / data.length;\n\nflow.set(\"data\", data);\n\nmsg.payload = {\n    pm25: avgPM25.toFixed(1),\n    pm10: avgPM10.toFixed(1)\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 380,
        "wires": [
            [
                "e5383995eed14390"
            ]
        ]
    },
    {
        "id": "e5383995eed14390",
        "type": "template",
        "z": "44f9ec8549dd6cd0",
        "name": "Avg box",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div style=\"background-color: #E6F7FF; border-radius: 8px; padding: 15px;\">\n  <h3>Average</h3>\n  <div>PM2.5: <span style=\"font-weight: bold;\">{{msg.payload.pm25}}</span></div>\n  <div>PM10: <span style=\"font-weight: bold;\">{{msg.payload.pm10}}</span></div>\n</div>\n",
        "output": "str",
        "x": 720,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "735782d262f247c0",
        "type": "mqtt out",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "topic": "/23127354-23127388-23127435/led-buzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "b45547cb7567bc40",
        "type": "ui_table",
        "z": "44f9ec8549dd6cd0",
        "group": "9dff1546fd297e8c",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 290,
        "y": 620,
        "wires": []
    },
    {
        "id": "25176735d677fbf6",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "Table Logs",
        "func": "// Lấy dữ liệu log từ flow\nlet data = flow.get(\"logData\") || [];\n\n// Định dạng lại cho ui_table\n// Mỗi phần tử là 1 dòng trong bảng\nlet tableData = data.map(d => {\n    return {\n        Time: d.Time,                // dạng HH:mm hoặc full datetime\n        PM2_5: d.PM2_5,\n        PM10: d.PM10,\n        Temperature: d.Temperature,\n        Humidity: d.Humidity\n    };\n});\n\n// Gửi sang ui_table\nmsg.payload = tableData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 620,
        "wires": [
            [
                "b45547cb7567bc40"
            ]
        ]
    },
    {
        "id": "d5ac11d27f9002cd",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "Avg & Status",
        "func": "let data = flow.get(\"logData\") || [];\nif (data.length === 0) return null;\n\nlet avg = {\n    PM2_5: 0,\n    PM10: 0,\n    Temp: 0,\n    Humidity: 0\n};\n\n// Cộng dồn\ndata.forEach(d => {\n    avg.PM2_5 += d.PM2_5;\n    avg.PM10 += d.PM10;\n    avg.Temp += d.Temperature;\n    avg.Humidity += d.Humidity;\n});\n\n// Tính trung bình\navg.PM2_5 = (avg.PM2_5 / data.length).toFixed(1);\navg.PM10 = (avg.PM10 / data.length).toFixed(1);\navg.Temp = (avg.Temp / data.length).toFixed(1);\navg.Humidity = (avg.Humidity / data.length).toFixed(0);\n\n// Hàm xác định trạng thái\nfunction statusPM(v) {\n    if (v <= 12) return \"Good\";\n    if (v <= 35) return \"Moderate\";\n    return \"Unhealthy\";\n}\n\nmsg.payload = {\n    PM2_5: { value: avg.PM2_5, status: statusPM(avg.PM2_5) },\n    PM10: { value: avg.PM10, status: statusPM(avg.PM10) },\n    Temp: { value: avg.Temp, status: \"Moderate\" },     // Bạn có thể thêm logic riêng\n    Humidity: { value: avg.Humidity, status: \"Moderate\" }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 680,
        "wires": [
            [
                "647bd5e4ef48427d"
            ]
        ]
    },
    {
        "id": "647bd5e4ef48427d",
        "type": "ui_template",
        "z": "44f9ec8549dd6cd0",
        "group": "9dff1546fd297e8c",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"background-color: #E6F7FF; padding: 15px; border-radius: 8px;\">\n    <h3>Average</h3>\n    <div ng-repeat=\"(key, item) in msg.payload\"\n        style=\"display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;\">\n        <div style=\"width: 80px; font-weight: bold;\">{{key}}</div>\n        <div style=\"background-color: #6ED6E1; padding: 5px 10px; border-radius: 5px; font-weight: bold;\">{{item.value}}\n        </div>\n        <div style=\"background-color: #FFF3C4; padding: 5px 10px; border-radius: 5px;\">{{item.status}}</div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "900c33bd8785df2f",
        "type": "ui_template",
        "z": "44f9ec8549dd6cd0",
        "group": "176a6dcb963246d5",
        "name": "Display",
        "order": 12,
        "width": 5,
        "height": 7,
        "format": "<!-- Display Template -->\n<style>\n  .display-panel {\n    background-color: #E6F7FF;\n    padding: 15px;\n    border-radius: 8px;\n    width: 100%;\n    box-sizing: border-box;\n    overflow-x: hidden;\n    height: 300px;\n    display: flex;\n    flex-direction: column;\n  }\n\n  .display-panel h3 {\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 15px;\n    background: none;\n  }\n\n  .display-buttons {\n    display: flex;\n    flex-direction: column;\n    gap: 10px;\n    flex: 1;\n    justify-content: center;\n  }\n\n  .display-btn {\n    color: white;\n    padding: 12px;\n    border: none;\n    border-radius: 5px;\n    font-weight: bold;\n    width: 100%;\n    cursor: pointer;\n    transition: all 0.3s ease;\n    position: relative;\n    overflow: hidden;\n  }\n\n  .display-btn.dust {\n    background-color: #1AA6B7;\n  }\n\n  .display-btn.temp,\n  .display-btn.humidity {\n    background-color: #63C7B2;\n  }\n\n  .display-btn:hover {\n    transform: translateY(-2px);\n    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n  }\n\n  .display-btn:active {\n    transform: translateY(0);\n  }\n\n  .display-btn.selected {\n    background-color: #4D94FF !important;\n    box-shadow: 0 0 10px rgba(77, 148, 255, 0.5);\n  }\n\n  /* Ripple effect */\n  .display-btn::after {\n    content: '';\n    position: absolute;\n    top: 50%;\n    left: 50%;\n    width: 0;\n    height: 0;\n    border-radius: 50%;\n    background: rgba(255, 255, 255, 0.3);\n    transform: translate(-50%, -50%);\n    transition: width 0.6s, height 0.6s;\n  }\n\n  .display-btn.ripple::after {\n    width: 300px;\n    height: 300px;\n  }\n</style>\n\n<div class=\"display-panel\">\n  <h3>Display</h3>\n  <div class=\"display-buttons\">\n    <button class=\"display-btn dust\"\n            ng-click=\"selectDisplay('dust')\"\n            ng-class=\"{'selected': msg.selectedDisplay == 'dust'}\">\n      Dust\n    </button>\n    <button class=\"display-btn temp\"\n            ng-click=\"selectDisplay('temp')\"\n            ng-class=\"{'selected': msg.selectedDisplay == 'temp'}\">\n      Temp\n    </button>\n    <button class=\"display-btn humidity\"\n            ng-click=\"selectDisplay('humid')\"\n            ng-class=\"{'selected': msg.selectedDisplay == 'humid'}\">\n      Humidity\n    </button>\n  </div>\n</div>\n\n<script>\n  // AngularJS controller cho Display\n  (function(scope) {\n    scope.selectedDisplay = null;\n    \n    scope.selectDisplay = function(type) {\n      // Xóa class selected từ tất cả buttons\n      setTimeout(() => {\n        document.querySelectorAll('.display-btn').forEach(btn => {\n          btn.classList.remove('selected', 'ripple');\n        });\n        \n        // Thêm class selected và ripple effect cho button được click\n        const clickedBtn = event.target;\n        clickedBtn.classList.add('selected', 'ripple');\n        \n        // Xóa ripple effect sau animation\n        setTimeout(() => {\n          clickedBtn.classList.remove('ripple');\n        }, 600);\n      }, 10);\n      \n      scope.selectedDisplay = type;\n      \n      // Gửi payload đến Node-RED\n      scope.send({\n        payload: type,\n        selectedDisplay: type\n      });\n    };\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "95c87862e5f44601",
                "6e743f7fcc581ef7"
            ]
        ]
    },
    {
        "id": "1bd9979aecfb2758",
        "type": "ui_template",
        "z": "44f9ec8549dd6cd0",
        "group": "176a6dcb963246d5",
        "name": "Sound & Light",
        "order": 13,
        "width": 5,
        "height": 7,
        "format": "<!-- Sound & Light Template -->\n<style>\n  .sound-light-panel {\n    background-color: #E6F7FF;\n    padding: 15px;\n    border-radius: 8px;\n    width: 100%;\n    box-sizing: border-box;\n    overflow-x: hidden;\n    height: 300px;\n    display: flex;\n    flex-direction: column;\n  }\n\n  .sound-light-panel h3 {\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 15px;\n    background: none;\n  }\n\n  .sound-light-content {\n    display: grid;\n    grid-template-columns: 1fr auto;\n    gap: 15px;\n    align-items: center;\n    flex: 1;\n    align-content: center;\n  }\n\n  .sound-light-content span {\n    font-weight: bold;\n    font-size: 16px;\n  }\n\n  .toggle-btn {\n    background-color: #6ED6E1;\n    border: none;\n    padding: 8px 15px;\n    border-radius: 5px;\n    font-weight: bold;\n    width: 70px;\n    cursor: pointer;\n    transition: all 0.3s ease;\n    position: relative;\n    overflow: hidden;\n  }\n\n  .toggle-btn:hover {\n    transform: scale(1.05);\n  }\n\n  .toggle-btn.on {\n    background-color: #4CAF50 !important;\n    color: white;\n    box-shadow: 0 0 10px rgba(76, 175, 80, 0.4);\n  }\n\n  .toggle-btn.off {\n    background-color: #f44336 !important;\n    color: white;\n  }\n\n  /* Animation cho toggle */\n  .toggle-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 100%;\n    height: 100%;\n    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);\n    transition: left 0.5s;\n  }\n\n  .toggle-btn.animate::before {\n    left: 100%;\n  }\n</style>\n\n<div class=\"sound-light-panel\">\n  <h3>Sounds & Light</h3>\n  <div class=\"sound-light-content\">\n    <span>LED</span>\n    <button class=\"toggle-btn\"\n            ng-click=\"toggleLED()\"\n            ng-class=\"{'on': msg.ledState == 'ON', 'off': msg.ledState != 'ON'}\">\n      {{msg.ledState || 'OFF'}}\n    </button>\n    <span>BUZZER</span>\n    <button class=\"toggle-btn\"\n            ng-click=\"toggleBuzzer()\"\n            ng-class=\"{'on': msg.buzzerState == 'ON', 'off': msg.buzzerState != 'ON'}\">\n      {{msg.buzzerState || 'OFF'}}\n    </button>\n  </div>\n</div>\n\n<script>\n  // AngularJS controller cho Sound & Light\n  (function(scope) {\n    scope.ledState = 'OFF';\n    scope.buzzerState = 'OFF';\n    \n    scope.toggleLED = function() {\n      const btn = event.target;\n      btn.classList.add('animate');\n      \n      setTimeout(() => {\n        scope.ledState = scope.ledState === 'ON' ? 'OFF' : 'ON';\n        scope.$apply(); // Cập nhật view\n        btn.classList.remove('animate');\n      }, 250);\n      \n      // Gửi payload đến Node-RED\n      setTimeout(() => {\n        scope.send({\n          payload: 'led_toggle',\n          ledState: scope.ledState\n        });\n      }, 300);\n    };\n    \n    scope.toggleBuzzer = function() {\n      const btn = event.target;\n      btn.classList.add('animate');\n      \n      setTimeout(() => {\n        scope.buzzerState = scope.buzzerState === 'ON' ? 'OFF' : 'ON';\n        scope.$apply(); // Cập nhật view\n        btn.classList.remove('animate');\n      }, 250);\n      \n      // Gửi payload đến Node-RED\n      setTimeout(() => {\n        scope.send({\n          payload: 'buzzer_toggle',\n          buzzerState: scope.buzzerState\n        });\n      }, 300);\n    };\n    \n    // Lắng nghe tin nhắn từ Node-RED để cập nhật trạng thái\n    scope.$watch('msg', function(newMsg) {\n      if (newMsg) {\n        if (newMsg.ledState !== undefined) {\n          scope.ledState = newMsg.ledState;\n        }\n        if (newMsg.buzzerState !== undefined) {\n          scope.buzzerState = newMsg.buzzerState;\n        }\n      }\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "37e81acb91ec53b2",
                "127ed560d1fab321"
            ]
        ]
    },
    {
        "id": "95c87862e5f44601",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "handleDisplayClick",
        "func": "// msg.payload sẽ là 'dust', 'temp' hoặc 'humid' từ template Display\nmsg.topic = \"/23127354-23127388-23127435/screen\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "4da9d7434574452c",
                "1d8a4357c4e55e0f"
            ]
        ]
    },
    {
        "id": "37e81acb91ec53b2",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "handleControlToggle",
        "func": "if (msg.payload === 'led_toggle') {\n    let state = flow.get(\"led_state\") || \"OFF\";\n    if (state === \"OFF\") {\n        state = \"ON\";\n        msg.payload = \"LED_ON\";\n    } else {\n        state = \"OFF\";\n        msg.payload = \"LED_OFF\";\n    }\n    flow.set(\"led_state\", state);\n    msg.ledState = state;\n    msg.topic = \"/23127354-23127388-23127435/led-buzzer\";\n    return msg;  // Gửi lại trạng thái LED\n\n} else if (msg.payload === 'buzzer_toggle') {\n    let state = flow.get(\"buzzer_state\") || \"OFF\";\n    if (state === \"OFF\") {\n        state = \"ON\";\n        msg.payload = \"BUZZER_ON\";\n    } else {\n        state = \"OFF\";\n        msg.payload = \"BUZZER_OFF\";\n    }\n    flow.set(\"buzzer_state\", state);\n    msg.buzzerState = state;\n    msg.topic = \"/23127354-23127388-23127435/led-buzzer\";\n    return msg;  // Gửi lại trạng thái BUZZER\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 540,
        "wires": [
            [
                "fb54f2ba26ec81aa",
                "735782d262f247c0"
            ]
        ]
    },
    {
        "id": "1d8a4357c4e55e0f",
        "type": "mqtt out",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "topic": "/23127354-23127388-23127435/screen",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "ecf1817639760998",
        "type": "mqtt in",
        "z": "44f9ec8549dd6cd0",
        "name": "pm10",
        "topic": "/23127354-23127388-23127435/pm10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e4f2654eb37bf1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "6ef572be12b90f31",
                "d3e0883518791ff7"
            ]
        ]
    },
    {
        "id": "6c3df6288f4d1cc3",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "b4b759bf43ef4fbc",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 120,
        "wires": []
    },
    {
        "id": "9f818caafc037d6d",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 260,
        "wires": []
    },
    {
        "id": "d3e0883518791ff7",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 300,
        "wires": []
    },
    {
        "id": "0bcea6bc537f889f",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 20,
        "wires": []
    },
    {
        "id": "a7e8a6f754323184",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "alert_noti",
        "func": "// Đảm bảo có label và payload là số\nlet label = msg.label;\nlet value = msg.payload;\n\nif (!label || typeof value !== \"number\") {\n    msg.payload = {\n        alert: \"sai label\",\n    };\n    return msg;  // Bỏ qua nếu không hợp lệ\n}\n\n// Lưu giá trị vào flow context\nflow.set(label, value);\n\n// Lấy lại giá trị từ bộ nhớ\nlet pm25 = flow.get(\"PM2_5\");\nlet pm10 = flow.get(\"PM10\");\n\n// Chỉ xử lý khi đã có đủ cả hai\nif (pm25 === undefined || pm10 === undefined) {\n    msg.payload = {\n        alert: \"Chua du hai du lieu\",\n        PM2_5: pm25,\n        PM10: pm10,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n}\n\n// Kiểm tra trạng thái cảnh báo\nlet isAlert = (pm25 > 35.4 || pm10 > 154);\nlet wasAlert = flow.get(\"alert_state\") || false;\n\nif (isAlert && !wasAlert) {\n    flow.set(\"alert_state\", true);\n    msg.payload = \"ALERT\";\n    return msg;\n} else if (!isAlert && wasAlert) {\n    flow.set(\"alert_state\", false);\n    msg.payload = {\n        alert: \"SAFE\",\n        PM2_5: pm25,\n        PM10: pm10,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n}\n\n// Không thay đổi trạng thái → không gửi gì\nmsg.payload = {\n    alert: \"no change state\",\n    PM2_5: pm25,\n    PM10: pm10,\n    timestamp: new Date().toISOString()\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 80,
        "wires": [
            [
                "463c2a4805e8558a",
                "e019e163822b0e2f"
            ]
        ]
    },
    {
        "id": "bc2ba3b6d9e04c4d",
        "type": "mqtt out",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "topic": "/23127354-23127388-23127435/alert",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4f2654eb37bf1b3",
        "x": 1410,
        "y": 120,
        "wires": []
    },
    {
        "id": "463c2a4805e8558a",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "161e259ed606b31d",
        "type": "delay",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 820,
        "y": 80,
        "wires": [
            [
                "a4c63d27551f2d07"
            ]
        ]
    },
    {
        "id": "20951328f4aaf99e",
        "type": "delay",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "a7480709ef7daefa"
            ]
        ]
    },
    {
        "id": "e019e163822b0e2f",
        "type": "switch",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALERT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "bc2ba3b6d9e04c4d",
                "e256282f093959a6"
            ]
        ]
    },
    {
        "id": "a4c63d27551f2d07",
        "type": "change",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "\"PM2_5\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 40,
        "wires": [
            [
                "a7e8a6f754323184"
            ]
        ]
    },
    {
        "id": "a7480709ef7daefa",
        "type": "change",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "\"PM10\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 180,
        "wires": [
            [
                "a7e8a6f754323184"
            ]
        ]
    },
    {
        "id": "4417533a5fbc673b",
        "type": "http request",
        "z": "44f9ec8549dd6cd0",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=hIFTbiwdL2VJfWmVBa0C&m={{payload}}&t=CẢNH BÁO CHẤT LƯỢNG KHÔNG KHÍ NGUY HIỂM&s=1&v=1&p=2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1470,
        "y": 240,
        "wires": [
            [
                "57d078ea5821554b"
            ]
        ]
    },
    {
        "id": "e256282f093959a6",
        "type": "function",
        "z": "44f9ec8549dd6cd0",
        "name": "function 2",
        "func": "// Lấy giá trị PM2_5 và PM10 từ flow context\nlet pm25 = flow.get(\"PM2_5\");\nlet pm10 = flow.get(\"PM10\");\n\n\n// Chuẩn bị payload chỉ chứa dữ liệu\nmsg.payload = `PM2.5: ${pm25 || 0} µgm, PM10: ${pm10 || 0} µgm`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 260,
        "wires": [
            [
                "4417533a5fbc673b"
            ]
        ]
    },
    {
        "id": "57d078ea5821554b",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 320,
        "wires": []
    },
    {
        "id": "4da9d7434574452c",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "fb54f2ba26ec81aa",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "6e743f7fcc581ef7",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 420,
        "wires": []
    },
    {
        "id": "127ed560d1fab321",
        "type": "debug",
        "z": "44f9ec8549dd6cd0",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 460,
        "wires": []
    }
]